.appContainer__nav{
    background: #dddddd;
    margin-bottom: 20px;
}

.navbar-header{
    background: transparent;
}

.appContainer__suggestion{
    padding: 15px;
    color: #fff;
    background: #3498db;
    a{
        color: #fff;
        text-decoration: underline;
    }
}