@import "../variables";

.appContainer__nav{
    background: $magda-grey;
    margin-bottom: 20px;
}

.navbar-header{
    background: transparent;
}

.navbar-nav{
    float: right;
    a{
        color: #000000;    
    }
}


@media(min-width: 768px){
    .decorator{
        padding: 15px 0;
    }
}


.navbar-account.navbar-nav{
        &>li{
            &>a{
                text-decoration: underline;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
}

.appContainer__suggestion{
    padding: 15px;
    color: #fff;
    background: $magda-blue;
    a{
        color: #fff;
        text-decoration: underline;
    }
}

.footer{
    background-color: $magda-dark-blue;
    color: #fff;
    padding: 20px 0;
    a{
        color: #fff;
        text-decoration: underline;
        font-size: 0.9rem;
    }
    .nav > li > a{
        padding: 10px 0px;
        &:hover{
            background: transparent;
        }
    }
    .nav-title{
        text-transform: uppercase;
    }
}