.root {
    margin-top: 24px;
}

.dropZone {
    max-width: 80%;
    height: 7em;
    margin: 2em auto 0 auto;
    border: 1px dashed #000;
}

.dropTarget {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
