body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  font-size: 16px;
}

.navbar-header{
  background: #fff;
}

.navbar-brand{
  padding: 10px 0;
  height: 80px;
}

.logo{
  max-width: 100%;
  max-height: 100%;
}

.prototype-warning{
  background-color: #3498db;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.error{
  background: #FFFFFF;
  border: 1px solid #BDC3C7;
  box-shadow: 0 1px 4px 0 #BDC3C7;
  border-radius: 1px;
  margin-top: 30px;
  padding: 30px;
}
@media (max-width: 768px) {
  .navbar-brand{
    padding: 10px 15px;
  }
}
