a(target="_top" href=`mailto:${message.senderEmail}?subject=Re: ${subject}`)
    button(type="button") Reply
<br/><br/>
|The Australian Government has mandated that agencies have a responsibility to be transparent to any public consumer of open data
a(href=`https://search.data.gov.au/mandate`)
|. If you have questions about why you got this email or what to do, email data@digital.gov.au <br/><br/>
|Sincerely, <br/> <br/>
|The Digital Transformation Agency at Data.gov.au
