head
  style(type="text/css").
    body {
      margin: auto;
      display: block;
    }
    body > div > img {
      padding-left: 10%;
    }
    button {
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      line-height: 0;
      background-color:#00698F;
      cursor: pointer;
      border-radius: 4px;
      width: 160px;
      height: 50px;
      font-size: 16px;
    }
    .content {
      text-align: left;
      padding-left: 10%;
      padding-right: 10%;
      line-height: 24px;
      font-size: 16px;
      width:50%;
      margin:0 auto;
    }
    .content > .crest > img {
      margin: 0;
    }
    .content > img {
      display: block;
      margin: auto;
    }
    .content > a > button {
      display: block;
      margin: auto;
    }