@import "../../variables";
.no-matching {
    padding: 10px 15px;
    background: $AU-color-foreground-action;
    font-weight: 400;
    color: $AU-color-foreground-action;
    font-size: 1.1em;
}

@media (max-width: 768px) {
    .no-matching {
        margin: 15px 0;
    }
}
