@import '../../variables';

.searchBox{
  background: $main;
  padding: 50px 135px;
  input, input:focus{
    color: #fff;
    border-bottom: 0px;
    font-family: $font-base;
    font-size: 48px;
    font-weight: 300;
    height: 57px;
  }
}
