@import "../../variables";
.search-tabs {
    padding-left: 15px;
}

.search-tabs li {
    display: inline-block;
    float: left;
}

.search-tabs li.active a {
    font-weight: 400;
    color: $AU-color-foreground-action;
    border-bottom: solid 3px $AU-color-foreground-action;
}
