@import "../../variables";

.search {
    .sub-heading {
        color: $body;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        text-transform: uppercase;
        margin-bottom: 24px;
        @media (max-width: $medium) {
            margin-bottom: 0;
        }
    }
}
