@import "../../variables";

@mixin text() {
    border-bottom: 0;
    padding: 0 8px;
    @media (min-width: $medium) {
        font-family: $font-base;
        font-size: 33px;
        font-weight: 300;
        height: 57px;
        padding: 8px 0;
        border-bottom: 1px solid rgba(73, 73, 73, 0.15);
        padding-right: 50px;
    }
}

.searchBox-switcher {
    &.none-home {
        @media (min-width: $medium) {
            background: rgba(245, 245, 245, 0.8);
        }
        .searchBox {
            background-color: transparent;
        }
    }
    .container-mobile {
        padding: 0;
    }
}

.home {
    .searchBox {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
            0px 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
    }
}

.searchBox {
    position: relative;

    color: $body;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgba(#fff, 0.8);
    background: #ffffff;
    border-radius: 0px;
    border-bottom: 1px solid rgba(73, 73, 73, 0.15);
    @media (min-width: $medium) {
        margin: 16px auto 32px auto;
        padding: 40px 90px;
        width: 788px;
        border: 0;
        box-shadow: none;
        border-radius: 2px;
    }

    label {
        width: 100%;
        position: relative;
    }
    input,
    input:focus {
        @include text();
        margin-bottom: 2px;
    }

    .search-btn {
        position: absolute;
        right: 0;
        padding: 11px;
        bottom: 0;
        @media (min-width: $medium) {
            bottom: 7px;
        }
        border: 2px solid transparent;
        box-sizing: border-box;
        display: inline-block;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        text-decoration: none;
        margin: 0px;
        outline: none;
        font-size: 0px;
        font-weight: inherit;
        overflow: visible;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        background: none;
        border-bottom: 2px solid rgba(#fff, 0.2);
        img {
            width: 32px;
            height: 32px;
        }
        @media (max-width: $medium - 1) {
            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    .search-btn-box {
        vertical-align: bottom;
        text-align: right;
    }

    .search-input__highlight {
        z-index: 10;
        position: absolute;
        bottom: 9px;
        font-size: 33px;
        height: 0;
        overflow: hidden;
        color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        max-width: 100%;
        border-top: 2px solid #979797;
        border-radius: 2px;
        display: none;
        @media (min-width: $medium) {
            display: inline;
        }
    }

    input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @include text();
    }
    input::-moz-placeholder {
        /* Firefox 19+ */
        @include text();
    }
    input:-ms-input-placeholder {
        /* IE 10+ */
        @include text();
    }
    input:-moz-placeholder {
        /* Firefox 18- */
        @include text();
    }

    .mui-textfield {
        padding-bottom: 5px;
        margin-bottom: 0px;
        border-bottom: 2px solid rgba(#fff, 0.2);
    }
}
