image: 
  name: "magda-web-server"
  # repository: 
  # tag: 
  # pullPolicy: 
  # pullSecrets: 

defaultImage:
  repository: docker.io/data61
  pullPolicy: IfNotPresent
  pullSecrets: false

# -- no. of replicas required for the deployment.
# If not set, k8s will assume `1` but allows HPA (autoscaler) alters it.
# @default 1
replicas:

autoscaler:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

resources:
  requests:
    cpu: 10m
    memory: 30Mi
  limits:
    cpu: 100m

listenPort: 80

disableAuthenticationFeatures: false

showNotificationBanner: false

service:
  # -- how to expose serice. Only used when `.Values.global.exposeNodePorts` is not true.
  # @default ClusterIP
  type: 

# -- Google Analytics Ids
gapiIds: []

useLocalStyleSheet: false

contentApiBaseUrlInternal: "http://content-api/v0/"

registryApiBaseUrlInternal: "http://registry-api/v0"

adminApiBaseUrl:

# -- Whether enable crawler html view for crawlers that has limited rendering capability. 
# When discourse intergration feature is turned on (i.e. `discourseSiteUrl` is set and either `discourseIntegrationDatasetPage` or `discourseIntegrationDistributionPage` is true), 
# this will be overwritten to true.
enableCrawlerViews: true

# -- The discourse site url. 
# Set this value to turn on the discourse post integration on dataset & distribution pages.
discourseSiteUrl:

# -- Whether the discourse post integration should be turned on on dataset page.
discourseIntegrationDatasetPage: true

# -- Whether the discourse post integration should be turned on on distribution page.
discourseIntegrationDistributionPage: true

featureFlags:
  # featureFlags.cataloguing -- turn on / off metadata creation tool. 
  # If this option is `false`, user won't be able to access the dataset add / edit UI 
  cataloguing: false
  # featureFlags.previewAddDataset -- turn on / off the preview mode of metadata creation tool.
  # Under preview mode, user can play with the metadata creation tool without requiring admin permission.
  # No data will be saved under this mode.
  previewAddDataset: false
  # featureFlags.publishToDga -- turn on / off the UI switch that allow user to select whether to auto push dataset data to a CKAN instance.
  # this is an experimental feature and requires the deployment of [magda-minion-ckan-exporter](https://github.com/magda-io/magda-minion-ckan-exporter)
  publishToDga: false
  # featureFlags.datasetApprovalWorkflowOn -- turn on / off dataset approval note step
  datasetApprovalWorkflowOn: true
  # featureFlags.useStorageApi -- turn on / off the UI option to use Magda internal storage for file storage.
  useStorageApi: true
  # featureFlags.datasetLikeButton -- turn on / off like / Dislike button. 
  # At this moment, `like / Dislike button` component is a place holder only for allowing plugin external UI plugin component.
  datasetLikeButton: false


# The base url where the UI serves at. If not specify (or empty string), it assumes the UI serves at '/'.
# it should have a leading slash, but no trailing slash
# uiBaseUrl: "/"

vocabularyApiEndpoints: []
defaultContactEmail: "mail@example.com"
custodianOrgLevel: 2
# default max preview file size 2mib
automaticPreviewMaxFileSize: 2097152
mandatoryFields:
  - dataset.title
  - dataset.description
  - dataset.defaultLicense
  - distributions.title
  - distributions.format
  - distributions.license
  - dataset.publisher
  - licenseLevel
  - dataset.defaultLicense
  - informationSecurity.classification
  - informationSecurity.disseminationLimits
  - publishToDga
dateConfig:
  dateFormats:
    - YYYY
    - YYYY-MM
    - DD-MM-YYYY
    - MM-DD-YYYY
    - YYYY-MM-DD
    - YYYY-MM-DDThh:mmTZD
    - YYYY-MM-DDThh:mm:ssTZD
    - YYYY-MM-DDThh:mm:ss.sTZD
    - DD-MMM-YYYY
    - MMM-DD-YYYY
  dateRegexes:
      dateRegex: "(date|dt|year|decade)"
      startDateRegex: "(start|st).*(date|dt|year|decade)"
      endDateRegex: "(end).*(date|dt|year|decade)"
datasetThemes: []
noManualThemes: false
noManualKeywords: false
keywordsBlackList:
  - Mr
  - Ms
  - Mrs
  - Miss
  - Dr
  - Hon
  - Jr
  - Prof
  - Sr
  - St
  - Mr.
  - Ms.
  - Mrs.
  - Miss.
  - Dr.
  - Hon.
  - Jr.
  - Prof.
  - Sr.
  - St.

# -- Default Timezone that used to display tiem related string.
# If not set, default value will be "Australia/Sydney"
defaultTimeZone:

# -- a list of external UI component JS bundle file urls. 
# Can be used to replace existing built-in React UI component for customisation.
# this config value should be type of `string[]`
externalUIComponents: []

# -- a list of external css file urls to be loaded.
# Can be used to further customise UI styling.
# this config value should be type of `string[]`.
externalCssFiles: []

# -- an alternative home page url. 
# By default, all home page related links will take users to Magda home page.
# You can set a different URL here to take users to a different landing page.
homePageUrl:

# -- When set to true, the `Open in National Map` button in Map Preview area will send data in v7 format.
supportExternalTerriaMapV7: false

# -- When set, the string here will replace the text of the `Open in National Map` button in Map Preview area.
openInExternalTerriaMapButtonText:

# -- When set, the `Open in National Map` button in Map Preview area will sent map data to the URL provided and open the map preview there.
# When not set, UI will by default send to the National Map.
openInExternalTerriaMapTargetUrl:

# -- Extra config data for external plugins.
# Normally served as a way to config external UI plugin components at runtime.
extraConfigData: {}

# -- Serve Magda UI at a non-root url path. e.g. `http://example.com/magda/`.
# Its value should have a leading slash, but no trailing slash.
# When not set, by default, the magda UI will be served at `/`. (e.g. `http://example.com/`) 
# When `global.externalUrl` is set to an URL with non-root path (e.g. http://example.com/magda-dir/), 
# unless `uiBaseUrl` has a non-empty value that is not `/`, the effective runtime value of `uiBaseUrl` will be overwritten to `/magda-dir`.
# You probably only want to manually set `uiBaseUrl` when you want to move magda UI to a non-root URL path but still leave all APIs at root path.
uiBaseUrl:

# -- Preview map module format perference list
# The list includes one or more `format perference item`.
# When there are more than one data source available, "Preview Map module" will use this perference to determine which data soruce will be used.
# It will go through the perference list. The first matched format (i.e. find a data source with the format ) will be chosen.
# A `format perference item` can have the following fields:
# <ul>
#  <li>format: the format of the preferred data source. compulsory. case insensitive. </li>
#  <li>
#       isDataFile: Optional. Default to `false`. Indicate whether the specified format is a static data file or API. 
#       If it's a static file, "Preview Map Module" will attempt to check the target file size and ask user to confirm whether he wants to render the file for large files.
#       The file size threshold is specified by config option `automaticPreviewMaxFileSize`.
#  </li>
#  <li>
#       urlRegex: optional; when exists, it will be used as regex string to double check the data source access url to confirm whether it's indeed the format specified.
#       If not provided or empty, only `format` will be used to determine whether a data source matches the `format perference item`.
#  <li>
# </ul>
previewMapFormatPerference:
  - format: "WMS"
    urlRegex: "^(?!.*(SceneServer)).*$"
  - format: "ESRI MAPSERVER"
    urlRegex: "MapServer"
  - format: "WFS"
    urlRegex: "^(?!.*(SceneServer)).*$"
  - format: "ESRI FEATURESERVER"
    urlRegex: "FeatureServer"
  - format: "GeoJSON"
    singleFile: true
  - format: "csv-geo-au"
    singleFile: true
  - format: "KML"
    singleFile: true
  - format: "KMZ"
    singleFile: true

# -- Whether show the "Ask a question about this dataset" button for datasets without contact point info.
# By default, the "Ask a question about this dataset" button is only shown for datasets has contact point info.
# For datasets without contact point info, the inquiry will be sent to the default recipient provided by `global.defaultContactEmail`.
showContactButtonForNoContactPointDataset: false

# -- Default bucket used to store datasets.
# If no value is provided `global.defaultDatasetBucket` will be used.
defaultDatasetBucket: