image: 
  name: "magda-web-server"
  # repository: 
  # tag: 
  # pullPolicy: 
  # pullSecrets: 

defaultImage:
  repository: "ghcr.io/magda-io"
  pullPolicy: IfNotPresent
  pullSecrets: false

# -- no. of replicas required for the deployment.
# If not set, k8s will assume `1` but allows HPA (autoscaler) alters it.
# @default 1
replicas:

autoscaler:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

resources:
  requests:
    cpu: 10m
    memory: 30Mi
  limits:
    cpu: 100m

listenPort: 80

disableAuthenticationFeatures: false

showNotificationBanner: false

service:
  # -- how to expose serice. Only used when `.Values.global.exposeNodePorts` is not true.
  # @default ClusterIP
  type: 

# -- Google Analytics Ids
gapiIds: []

useLocalStyleSheet: false

contentApiBaseUrlInternal: "http://content-api/v0/"

registryApiBaseUrlInternal: "http://registry-api-read-only/v0"

adminApiBaseUrl:

# -- Whether enable crawler html view for crawlers that has limited rendering capability. 
# When discourse intergration feature is turned on (i.e. `discourseSiteUrl` is set and either `discourseIntegrationDatasetPage` or `discourseIntegrationDistributionPage` is true), 
# this will be overwritten to true.
enableCrawlerViews: true

# -- The discourse site url. 
# Set this value to turn on the discourse post integration on dataset & distribution pages.
discourseSiteUrl:

# -- Whether the discourse post integration should be turned on on dataset page.
discourseIntegrationDatasetPage: true

# -- Whether the discourse post integration should be turned on on distribution page.
discourseIntegrationDistributionPage: true

featureFlags:
  # featureFlags.cataloguing -- turn on / off metadata creation tool. 
  # If this option is `false`, user won't be able to access the dataset add / edit UI 
  cataloguing: true
  # featureFlags.previewAddDataset -- turn on / off the preview mode of metadata creation tool.
  # Under preview mode, user can play with the metadata creation tool without requiring admin permission.
  # No data will be saved under this mode.
  previewAddDataset: false
  # featureFlags.publishToDga -- turn on / off the UI switch that allow user to select whether to auto push dataset data to a CKAN instance.
  # this is an experimental feature and requires the deployment of [magda-minion-ckan-exporter](https://github.com/magda-io/magda-minion-ckan-exporter)
  publishToDga: false
  # featureFlags.datasetApprovalWorkflowOn -- turn on / off dataset approval note step
  datasetApprovalWorkflowOn: false
  # featureFlags.useStorageApi -- turn on / off the UI option to use Magda internal storage for file storage.
  useStorageApi: true
  # featureFlags.datasetLikeButton -- turn on / off like / Dislike button. 
  # At this moment, `like / Dislike button` component is a place holder only for allowing plugin external UI plugin component.
  datasetLikeButton: false
  # featureFlags.enableAutoMetadataFetchButton -- turn on / off the auto metadata fetch button.
  # Users are still able to add an "API / dataset URL" via "Manually enter metadata" button
  enableAutoMetadataFetchButton: true

# -- Whether use Magda to store dataset data files by default
# When use Magda's metadata creation tool to create a dataset, user can choose to upload data files to Magda's storage (via storage API).
# Or managing the metadata only. When `featureFlags.useStorageApi` is set to `false`, this option has no effect.
useMagdaStorageByDefault: true

# The base url where the UI serves at. If not specify (or empty string), it assumes the UI serves at '/'.
# it should have a leading slash, but no trailing slash
# uiBaseUrl: "/"

vocabularyApiEndpoints: []
defaultContactEmail: "mail@example.com"
custodianOrgLevel: 2
# default max preview file size 2mib
automaticPreviewMaxFileSize: 2097152
mandatoryFields:
  - dataset.title
  - dataset.description
  - dataset.defaultLicense
  - distributions.title
  - distributions.format
  - distributions.license
  - dataset.publisher
  - licenseLevel
  - dataset.defaultLicense
  - informationSecurity.classification
  - informationSecurity.disseminationLimits
  - publishToDga
dateConfig:
  dateFormats:
    - YYYY
    - YYYY-MM
    - DD-MM-YYYY
    - MM-DD-YYYY
    - YYYY-MM-DD
    - YYYY-MM-DDThh:mmTZD
    - YYYY-MM-DDThh:mm:ssTZD
    - YYYY-MM-DDThh:mm:ss.sTZD
    - DD-MMM-YYYY
    - MMM-DD-YYYY
  dateRegexes:
      dateRegex: "(date|dt|year|decade)"
      startDateRegex: "(start|st).*(date|dt|year|decade)"
      endDateRegex: "(end).*(date|dt|year|decade)"
datasetThemes: []
noManualThemes: false
noManualKeywords: false
keywordsBlackList:
  - Mr
  - Ms
  - Mrs
  - Miss
  - Dr
  - Hon
  - Jr
  - Prof
  - Sr
  - St
  - Mr.
  - Ms.
  - Mrs.
  - Miss.
  - Dr.
  - Hon.
  - Jr.
  - Prof.
  - Sr.
  - St.

# -- Default Timezone that used to display tiem related string.
# If not set, default value will be "Australia/Sydney"
defaultTimeZone:

# -- a list of external UI component JS bundle file urls. 
# Can be used to replace existing built-in React UI component for customisation.
# this config value should be type of `string[]`
externalUIComponents: []

# -- a list of external css file urls to be loaded.
# Can be used to further customise UI styling.
# this config value should be type of `string[]`.
externalCssFiles: []

# -- an alternative home page url. 
# By default, all home page related links will take users to Magda home page.
# You can set a different URL here to take users to a different landing page.
homePageUrl:

# -- When set to true, the `Open in National Map` button in Map Preview area will send data in v7 format.
supportExternalTerriaMapV7: false

# -- When set, the string here will replace the text of the `Open in National Map` button in Map Preview area.
openInExternalTerriaMapButtonText:

# -- When set, the `Open in National Map` button in Map Preview area will sent map data to the URL provided and open the map preview there.
# When not set, UI will by default send to the National Map.
openInExternalTerriaMapTargetUrl:

# -- Extra config data for external plugins.
# Normally served as a way to config external UI plugin components at runtime.
extraConfigData: {}

# -- Serve Magda UI at a non-root url path. e.g. `http://example.com/magda/`.
# Its value should have a leading slash, but no trailing slash.
# When not set, by default, the magda UI will be served at `/`. (e.g. `http://example.com/`) 
# When `global.externalUrl` is set to an URL with non-root path (e.g. http://example.com/magda-dir/), 
# unless `uiBaseUrl` has a non-empty value that is not `/`, the effective runtime value of `uiBaseUrl` will be overwritten to `/magda-dir`.
# You probably only want to manually set `uiBaseUrl` when you want to move magda UI to a non-root URL path but still leave all APIs at root path.
uiBaseUrl:

# -- Preview map module format perference list
# The list includes one or more `format perference item`.
# When there are more than one data source available, "Preview Map module" will use this perference to determine which data soruce will be used.
# It will go through the perference list. The first matched format (i.e. find a data source with the format ) will be chosen.
# A `format perference item` can have the following fields:
# <ul>
#  <li>format: the format of the preferred data source. compulsory. case insensitive. </li>
#  <li>
#       isDataFile: Optional. Default to `false`. Indicate whether the specified format is a static data file or API. 
#       If it's a static file, "Preview Map Module" will attempt to check the target file size and ask user to confirm whether he wants to render the file for large files.
#       The file size threshold is specified by config option `automaticPreviewMaxFileSize`.
#  </li>
#  <li>
#       urlRegex: optional; when exists, it will be used as regex string to double check the data source access url to confirm whether it's indeed the format specified.
#       If not provided or empty, only `format` will be used to determine whether a data source matches the `format perference item`.
#  <li>
# </ul>
previewMapFormatPerference:
  - format: "WMS"
    urlRegex: "^(?!.*(SceneServer)).*$"
  - format: "ESRI MAPSERVER"
    urlRegex: "MapServer"
  - format: "WFS"
    urlRegex: "^(?!.*(SceneServer)).*$"
  - format: "GeoJSON"
    singleFile: true
  - format: "csv-geo-au"
    singleFile: true
  - format: "ESRI FEATURESERVER"
    urlRegex: "FeatureServer"
  - format: "KML"
    singleFile: true
  - format: "KMZ"
    singleFile: true

# -- Whether show the "Ask a question about this dataset" button for datasets without contact point info.
# By default, the "Ask a question about this dataset" button is only shown for datasets has contact point info.
# For datasets without contact point info, the inquiry will be sent to the default recipient provided by `global.defaultContactEmail`.
showContactButtonForNoContactPointDataset: false

# -- Default bucket used to store datasets data files.
# If no value is provided `global.defaultDatasetBucket` will be used.
defaultDatasetBucket:

# -- Specify the landing page uri for anonymous users. 
anonymousUserLandingPage: "/home"

# -- Specify the landing page uri for authenticated users
authenticatedUserLandingPage: "/home"

# -- The interval of UI refresh / refetch user auth status data. Default to 5 mins.
authStatusRefreshInterval: 300000

# -- No. of seconds that sitemap result will be cached. By default, 86400 i.e. 1 day.
sitemapCacheSeconds: 86400

# -- Whether or not enable in-browser metadata auto-extraction pipelines. You might want to disable the feature to speed up large files upload.
enableMetadataExtraction: false

# -- Whether or not enable chatbot feature.
# Please note: you also need to enable the hybrid search feature to use the chatbot feature.
enableChatbot: false

# -- The extension ID of the web-llm service worker chrome extension plugin.
# See here for more details: https://github.com/magda-io/magda-llm-service-worker-extension
llmExtensionId: "ljadmjdilnpmlhopijgimonfackfngmi"

# -- The required version string of the MAGDA web-llm service worker chrome extension plugin.
# Support [semver string](https://semver.org/) e.g. ">=2.5.0"
llmExtensionRequiredVer: "^1.0.4"

# -- The installation URL of the web-llm service worker chrome extension plugin.
# "This URL will be displayed to the user when the extension is not installed.
llmExtensionInstallationUrl: "https://github.com/magda-io/magda-llm-service-worker-extension"

# -- Whether or not to enable the SQL console feature.
enableSQLConsole: true

# -- The maximum file size that can be loaded into the SQL console.
# When the user tries to load a file that is larger than this size, the system will show an error message.
# The default value is 50MB.
sqlConsoleMaxFileSize: 52428800

# -- the maximum number of result rows will be displayed in SQLConsole UI.
# Users can still download the full result as CSV file via download button.
sqlConsoleMaxDisplayRows: 1000

# -- The cache store name SQLConsole uses.
# The cache store will be used to cache recent data file access.
sqlConsoleCacheName: "magda-sql-console"

# -- Max number of recent access data files that the SQLConsole will cache.
# Oldest cache item will be deleted before a new additional item is added into cache,
# when cache item number reach the limit set here.
sqlConsoleCacheMaxSize: 10

# -- This setting will be used to determine how many seconds a stored cache item will be kept before we fetch a new copy from the remote server.
# @default -- 86400 seconds (1 day)
sqlConsoleCacheExpiration: 86400
