@import "variables";
@import "./pancake/sass/core.scss";
.banner {
    text-align: center;
    padding: 8px 0;
    position: relative;
    @include AU-fontgrid(xs);
    padding-right: 40px;
    a {
        display: inline-block;
    }
    .close-btn {
        &:hover {
            cursor: pointer;
        }
        background: transparent;
        border: none;
        box-shadow: none;
        position: absolute;
        top: 5px;
        right: 8px;
        height: 24px;
        width: 24px;
        background-image: AU-svguri(
            '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF">' +
                '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
                '<path d="M0 0h24v24H0z" fill="none"/>' + "</svg>"
        );
        background-repeat: no-repeat;
    }
}
