@import "variables";
@import "./pancake/sass/core.scss";

.data-preview-chart {
    .data-preview-chart-container {
        margin-left: -20px;
    }

    .chart-panel-container {
        .chart-title {
            font-weight: bold;
            margin-bottom: 0;
        }
    }
    .config-panel-container {
        margin-top: -10px;
        @media (min-width: $medium) {
            margin-top: 0px;
        }
    }

    .chart-config {
        select,
        input {
            width: 100%;
            border-radius: 2px;
            border: 2px solid #7f7f7f;
        }
        label {
            display: block;
        }
    }

    .toggle-button {
        color: $AU-color-foreground-action;
        font-size: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        padding-left: 0px;
        margin-top: 24px;

        img {
            position: absolute;
            top: -2px;
        }
    }

    .toggle-button:focus {
        outline: none;
    }
}
