@import "variables";
@import "./pancake/sass/core.scss";
.data-preview-map {
    .open-in-national-map-button.au-btn.au-btn--secondary {
        position: relative;
        height: 40px;
        width: 210px;
        background: #ffffff;
    }

    .rectangle-1 {
        position: absolute;
        box-sizing: border-box;
        height: 13px;
        width: 13px;
        border: 2px solid $AU-color-foreground-action;
        top: 9px;
        left: 15px;
        background-color: $AU-color-background;
    }

    .rectangle-2 {
        position: absolute;
        box-sizing: border-box;
        height: 12px;
        width: 12px;
        border: 2px solid $AU-color-foreground-action;
        top: 13px;
        left: 12px;
    }

    .open-national-map-button-text {
        position: absolute;
        height: 17px;
        color: $AU-color-foreground-action;
        font-family: inherit;
        line-height: 17px;
        right: 8px;
        left: 30px;
        top: 9px;
    }
}
