@import "variables";
@import "./pancake/sass/core.scss";

.data-preview-vis {
    .data-preview-vis_chart {
        margin-left: -16px;
        margin-top: 16px;
    }
    .data-preview-vis_file-name {
        @include AU-fontgrid(sm);
        line-height: 19px;
    }
    .tab-list {
        li {
            width: 100%;
            margin: 0;
        }

        @media (min-width: $medium) {
            li {
                width: auto;
                margin: 0.25rem;
            }
        }

        button {
            border: none;
            border-bottom: 0.2rem solid $AU-colordark-foreground-action;
            padding: 1rem 1rem;
            font-size: 1rem;
            line-height: 1.5;
            display: block;
            text-decoration: none;
            width: 100%;
            position: relative;
            &.tab-active {
                border-color: $AU-color-foreground-action;
            }
            &:hover,
            &:focus {
                cursor: pointer;
            }

            &:before {
                display: block;
                content: "";
                height: 32px;
                width: 32px;
                position: absolute;
                top: 10px;
                left: 0;
                @media (min-width: $medium) {
                    display: none;
                }
            }
            &.chart:before {
                background-image: AU-svguri(
                    '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#4c2a85">' +
                        '<path id="path-1" d="M3,16 C3,15.4477153 3.44771525,15 4,15 C4.55228475,15 5,15.4477153 5,16 L5,20 C5,20.5522847 4.55228475,21 4,21 C3.44771525,21 3,20.5522847 3,20 L3,16 Z M11,5 C11,4.44771525 11.4477153,4 12,4 C12.5522847,4 13,4.44771525 13,5 L13,20 C13,20.5522847 12.5522847,21 12,21 C11.4477153,21 11,20.5522847 11,20 L11,5 Z M7,10 C7,9.44771525 7.44771525,9 8,9 C8.55228475,9 9,9.44771525 9,10 L9,20 C9,20.5522847 8.55228475,21 8,21 C7.44771525,21 7,20.5522847 7,20 L7,10 Z M15,13 C15,12.4477153 15.4477153,12 16,12 C16.5522847,12 17,12.4477153 17,13 L17,20 C17,20.5522847 16.5522847,21 16,21 C15.4477153,21 15,20.5522847 15,20 L15,13 Z M19,11 C19,10.4477153 19.4477153,10 20,10 C20.5522847,10 21,10.4477153 21,11 L21,20 C21,20.5522847 20.5522847,21 20,21 C19.4477153,21 19,20.5522847 19,20 L19,11 Z"/>' +
                        "</svg>"
                );
            }

            &.table:before {
                background-image: AU-svguri(
                    '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
                        '<path d="M10,14 L10,16 L20,16 L20,14 L10,14 Z M8,14 L4,14 L4,16 L8,16 L8,14 Z M10,20 L20,20 L20,18 L10,18 L10,20 Z M8,20 L8,18 L4,18 L4,20 L8,20 Z M10,10 L10,12 L20,12 L20,10 L10,10 Z M8,10 L4,10 L4,12 L8,12 L8,10 Z M10,4 L10,8 L20,8 L20,4 L10,4 Z M8,4 L4,4 L4,8 L8,8 L8,4 Z M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z" id="Combined-Shape" fill="#4c2a85" fill-rule="nonzero"></path>' +
                        "</svg>"
                );
            }
        }
    }
    .partial-data-message {
        color: #313131;
        font-size: 1rem;
        margin-top: 10px;
    }
}
