@import "variables";
@import "./pancake/sass/core.scss";

.determinate-pb-bar {
    background-color: #cccccc;
    border: 1px solid #777777;
    border-radius: 0.5em;
}

.determinate-pb-progress {
    background-color: $AU-color-foreground-action;
    color: $AU-color-background;
    min-height: 0.75em;
    padding: 0.25em;
    border-radius: 0.5em;
}
