.error-message-box {
    ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tooltip-container {
        .tooltip {
            padding-left: 0px !important;
            left: 0px;
        }
    }
}
