@import "variables";

.file-icon-svg path,
.file-icon-svg rect {
    //fill: $AU-color-foreground-action;
    fill: #320d3b;
}

.file-icon-svg text {
    fill: $AU-color-background;
    font-weight: bold;
}
