.helpSnippet-button {
    width: 2em;
    cursor: pointer;
    margin-top: -3em;
    float: right;
}

.helpSnippet-body {
    background: #cccccc;
    padding: 1em;
}

.helpSnippet-body-close {
    float: right;
    position: relative;
    cursor: pointer;
}
