.helpSnippet-button {
    width: 2em;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 0.5em;
}

.helpSnippet-body {
    background: #cccccc;
    padding: 1em;
}

.helpSnippet-body-close {
    float: right;
    position: relative;
    cursor: pointer;
}
