@import "variables";
@import "./pancake/sass/core.scss";

.markdown__wrap {
    word-wrap: break-word;
}

.dataset-summary-description {
    .markdown {
        strong,
        p > strong {
            font-size: 0.875rem;
            font-weight: inherit;
        }

        code {
            font-size: 0.875rem;
            font-weight: inherit;
            font-family: $AU-font;
            padding: 0;
            background-color: transparent;
            display: inline;
            border: none;
        }

        ul {
            li strong {
                font-size: 0.875rem;
                font-weight: inherit;
            }
        }

        hr {
            display: none;
        }
    }
}
