@import "variables";
@import "./pancake/sass/core.scss";

.notification-box {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    .notification__inner {
        position: fixed;
        right: 14px;
        bottom: 24px;
        padding: 16px;
        max-width: 400px;
        min-width: 290px;
    }

    h3 {
        word-break: keep-all;
        word-wrap: normal;
        margin: 0 32px 0 0;
        text-align: left;
    }

    .close-btn {
        line-height: 0;
        padding: 0;
        margin: 0 0 0 8px;
        height: 24px;
        float: right;
        img {
            height: 20px;
            width: 20px;
        }
    }

    .au-page-alerts--info .close-btn {
        border-color: $AU-color-info;
    }

    .au-page-alerts--error .close-btn {
        border-color: $AU-color-error;
    }

    .au-page-alerts--warning .close-btn {
        border-color: $AU-color-warning;
    }

    .au-page-alerts--success .close-btn {
        border-color: $AU-color-success;
    }
}
