@import "variables";
.overview-box {
}
.overview-toggle {
    margin: 10px auto 0 auto;
    display: block;
    background-color: $AU-color-foreground-action;
    border-radius: 50%;
    padding: 5px 8px;
}
