@import "variables";
@import "./pancake/sass/core.scss";
.progress-bar {
    width: 100%;
    background: #f5f5f5;
    box-shadow: none;
    position: fixed;
    // reset bootstrap flat;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
}

.progress {
    background: linear-gradient(
        to right,
        $magda-red,
        $magda-yellow,
        $magda-red,
        $magda-yellow
    );
    border-radius: 1px;
    animation: gradient 3s linear infinite;
    background-position: 0% 0%;
    background-size: 500% auto;
    height: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
