@import "variables";
@import "./pancake/sass/core.scss";

.tags-box {
    .au-tags {
        border: 0;
        padding-left: 0;
        li {
            padding-right: 8px;
            padding-left: 0;
            display: inline-block;
            border-radius: 0;
            border: none;
        }
        a {
            color: $AU-color-foreground-text;
            border-bottom: 1px solid $AU-colordark-background;
            border-radius: 0;
            padding: 0;
            margin: 0;
            &,
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}
