.tooltip {
    position: relative;
    display: inline-block;
    vertical-align: -2px;
}

.tooltiptext {
    line-height: 1.2;
    font-size: 0.9rem;
    visibility: hidden;
    background-color: #4b2b85;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: absolute;
    z-index: 1;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px;
    transition-delay: 1s;
    transition: visibility 1s ease;

    @media screen and (hover: none) {
        transition: none !important;
    }

    &.tooltiptext a {
        color: #fff;
    }
}

.tooltiptext::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
}

.tooltiptext.tooltiptext-below {
    top: calc(100% + 10px);

    &::after {
        bottom: 100%;
        border-color: transparent transparent #4b2b85 transparent;
    }
}

.tooltiptext.tooltiptext-above {
    bottom: calc(100% + 10px);

    &::after {
        top: 100%;
        border-color: #4b2b85 transparent transparent transparent;
    }
}

.tooltip:hover .tooltiptext,
.tooltip-open .tooltiptext {
    visibility: visible;
}
