doctype html
html(lang="en-au")
include includes/head.pug
body
  div.content
    include includes/header.pug
    |Hi there, <br/><br/>
    |A request has been raised for a dataset. Please respond to this request as soon as possible.<br/><br/>

    |The query is from #{message.senderName}, <a href="mailto:#{message.senderEmail}">#{message.senderEmail}</a>: <br/><br/>

    |!{message.html} <br/><br/>

    include includes/footer.pug

