@import "../variables";

.distribution-row {
    box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.1);
    padding-top: 24px;
    padding-bottom: 24px;

    .format-icon {
        width: 32px;
        height: 32px;
    }
    .distribution-row-link {
        color: #000000;
        @include AU-fontgrid(md);
        a {
            border-bottom: none;
        }
        a:hover {
            background-color: #fff;
            color: #000000;
        }
        margin-bottom: 8px;
    }

    .distribution-row-link-license {
        color: $AU-color-foreground-action;
        @include AU-fontgrid(xs);
    }

    button {
        background-color: #f7f8fa;
        border: 1px solid rgba(73, 73, 73, 0.05);
    }
    .download-button {
        padding: 5px 10px;
        .button-text {
            margin-left: 35px;
        }
        img {
            position: absolute;
            top: 12px;
        }
    }
    .new-tab-button {
        vertical-align: middle;
        padding: 5px;
        img {
            vertical-align: top;
        }
    }
    .button-area {
        text-align: left;
        @media (min-width: $medium) {
            text-align: right;
        }
    }
}
