@import "../variables";

.distribution-row {
    box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.1);
    padding-top: 24px;
    padding-bottom: 24px;

    .format-icon{
        width:32px;
        height:32px;
    }
    .distribution-row-link {
        color: #000000;
        font-size: 20px;
        line-height: 24px;
        a {
            border-bottom: none;
        }
        a:hover {
            background-color: #fff;
            color: #000000;
        }
        margin-bottom: 8px;
    }

    .distribution-row-link-license{
        color: #CC3139;
        font-size: 14px;
        line-height: 17px;
    }

    button {
        background-color: #f7f8fa;
        border: 1px solid rgba(73, 73, 73, 0.05);
    }
    .download-button {
        padding-left: 11px;
        padding-right: 13px;
        padding-top: 2px;
        padding-bottom: 33px;
        vertical-align: middle;
        margin-right: 5px;
        .button-text {
            margin-left: 35px;
        }
        img {
            position: absolute;
            top: 10px;
        }
    }
    .new-tab-button {
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .button-area {
        text-align: left;
        @media (min-width: $medium) {
            text-align: right;
        }
    }
}
