@import "../variables";

.feedback-form-inner {
    background: #fff;
    border-radius: 5px;
    border: 2px solid $success;
    position: fixed;
    right: 24px;
    bottom: 24px;
    max-width: 400px;
}

.feedback-form {
    z-index: 999;
    position: fixed;
    right: 24px;
    bottom: 24px;

    .feedback-form-body {
        padding: 16px;
        border-top: 1px solid rgba(0, 0, 0, 0.26);
    }
    .mui-textfield > input:focus,
    .mui-textfield > textarea:focus {
        border-color: $success;
    }
    .mui-textfield > input:focus ~ label,
    .mui-textfield > textarea:focus ~ label {
        color: $success;
    }
    .close-btn {
        line-height: 0;
        padding: 0;
        margin: 0 0 0 8px;
        height: 24px;
        float: right;
        img {
            height: 20px;
            width: 20px;
        }
    }

    .feedback-form-header {
        padding: 8px 16px;
        color: $success;
    }

    .feedback-form-footer {
        text-align: right;
        .send-btn {
            background: #f5f5f5;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    .feedback-button {
        background: $success;
        color: $banner-text;
        border-radius: 30px;
        padding-left: 40px;
        padding-right: 8px;
        img {
            height: 40px;
            width: 40px;
            position: absolute;
            left: 4px;
            top: -2px;
        }
    }

    .notification__inner{
        right: 24px;
        bottom: 24px;
    }

    .privacy-link{
        margin-top: 10px;
    }
}
