.home {
    min-height: 400px;
    h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        text-transform: uppercase;
        margin: 32px 0;
    }
    .latest-news {
        margin: 32px 0;
    }
    .about {
        color: #333;
        font-size: 20px;
        line-height: 29px;
    }
}
