@import "../variables";

.media-body {
    h1 {
        @include AU-fontgrid(lg);
    }

    .publisher-basic-info-row {
        display: table;
        width: 100%;
        padding-top: 10px;
        display: inline-block;
        span.separator {
            width: 37px;
            display: inline-block;
            text-align: center;
        }
    }
}

.ask-question-button {
    margin-top: 20px;
}

.dataset-title {
    display: inline;
}

.form-margin {
    margin-bottom: 30px;
}

.distribution-title {
    display: inline-flex;
}

.distribution-meta {
    display: flex;

    .created-date {
        margin-bottom: 1em;
    }
}

.distribution-props {
    display: inherit;
}

.distribution-download-button {
    border: none !important;
    background: $AU-color-foreground-action !important;
    margin-top: 1em;
    margin-bottom: 1em;
}

.distribution-format {
    display: inline;
}

.distribution-license {
    display: inline;
}

.distribution-icon {
    margin-right: 0.75em;
}
