@import "../../variables";

.au-header {
    padding: 16px 0;
    padding: 1rem 0;
}

.header {
    border-bottom: 8px solid #341039;
    border-bottom: 0.5rem solid #341039;
}

.header-nav {
    line-height: 79px;
}

#menu-toggle {
    padding: 8px 0;
    padding: 0.5rem 0;
    text-align: left;

    &:before {
        background-image: AU-svguri(
            '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                '<path d="M0 0h24v24H0z" fill="none"/>' +
                '<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
                "</svg>"
        );
    }
    &.au-accordion--open {
        &:before {
            background-image: AU-svguri(
                '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                    '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
                    '<path d="M0 0h24v24H0z" fill="none"/>' + "</svg>"
            );
        }

        &:hover:before {
            background-image: AU-svguri(
                '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                    '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
                    '<path d="M0 0h24v24H0z" fill="none"/>' + "</svg>"
            );
        }
    }
    @media screen and (min-width: $medium) {
        display: none;
    }
}

.header__badge {
    padding: 2px 8px;
    padding: 2px 0.5rem;
    margin-left: 8px;
    margin-left: 0.5rem;
    border: solid 2px;
    border-radius: 2em;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: normal;
    vertical-align: super;
}

.icon {
    &:before {
        width: 1.25em;
        height: 1.25em;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        content: " ";
        background-repeat: no-repeat;
        margin-top: -2px;

        @include AU-space(margin-right, 0.5unit);
    }
}

.navigation {
    a {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5;
        padding: 8px 0;
        padding: 0.5rem 0;
        display: block;
        text-decoration: none;

        @media screen and (min-width: $medium) {
            padding: 16px 16px;
            padding: 1rem 1rem;
            border-bottom: 8px solid #f5f5f5;
            border-bottom: 0.5rem solid #f5f5f5;
        }
    }
    .au-link-list {
        display: block;
        padding: 0;

        @media screen and (min-width: $medium) {
            float: left;
            margin-bottom: -8px;
            margin-bottom: -0.5rem;
        }

        > li {
            display: block;
            margin: 0;
            border-top: 1px solid #7f7f7f;

            @media screen and (min-width: $medium) {
                display: inline-block;
                border-top: 0;
            }
        }
    }
}

.menu.au-accordion__body {
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 200;
    border-bottom: 8px solid #341039;
    border-bottom: 0.5rem solid #341039;

    @media screen and (min-width: $medium) {
        position: static;
        border-bottom: 0;
    }

    &.au-accordion--closed {
        @media screen and (max-width: $medium) {
            display: none;
        }
    }
}

.mobile-header {
    background-color: $AU-color-background;
    box-shadow: inset 0px -1px 0px rgba(73, 73, 73, 0.15);

    .mobile-header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mobile-logo-link {
            border: none;
        }

        .mobile-logo {
            margin: 10px;
        }

        .mobile-title {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
            a {
                border-bottom: 0;
            }
        }

        .icon:before,
        .icon--right:after {
            width: 1.25em;
            height: 1.25em;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            content: " ";
            background-repeat: no-repeat;
            margin-top: -2px;

            .lt-ie9 & {
                display: none;
            }
        }

        .icon:before {
            @include AU-space(margin-right, 0.5unit);
        }

        .mobile-toggle {
            background: transparent;
            border: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            &:hover,
            &:focus {
                outline: none;
            }

            &:before {
                background-image: AU-svguri(
                    '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                        '<path d="M0 0h24v24H0z" fill="none"/>' +
                        '<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
                        "</svg>"
                );
            }

            &:hover:before {
                background-image: AU-svguri(
                    '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                        '<path d="M0 0h24v24H0z" fill="none"/>' +
                        '<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
                        "</svg>"
                );
            }

            &.au-accordion--open {
                &:before {
                    background-image: AU-svguri(
                        '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                            '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
                            '<path d="M0 0h24v24H0z" fill="none"/>' + "</svg>"
                    );
                }

                &:hover:before {
                    background-image: AU-svguri(
                        '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                            '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
                            '<path d="M0 0h24v24H0z" fill="none"/>' + "</svg>"
                    );
                }
            }
        }
    }

    .mobile-nav-wrapper {
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1;
        li {
            border-bottom: 1px solid gray;
            padding-left: 10px;
        }
        li:last-child {
            border-bottom: none;
        }
        ul {
            padding-bottom: 0px;
        }
    }

    .mobile-nav {
        background: #fff;
        overflow-y: hidden;
        height: 0;
        border-bottom: 1px solid rgba(73, 73, 73, 0.15);
        &.isOpen {
            height: auto;
        }
    }
}
