@import "../../variables";

.top-header-container {
    background: rgba(#ffffff, 0.5);
    .desktop-nav {
        height: 90px;
        display: flex;
    }
    .logo,
    .logo:hover,
    .logo:focus {
        border-bottom: none;
        background: transparent;
        padding: 8px 0;
        overflow-y: hidden;
        img {
            height: 100%;
            width: auto;
        }
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        @media (min-width: $medium) {
            flex-grow: 2;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
        a {
            margin-left: 0;
            display: inline-block;
            border-bottom: 0;
            color: $AU-color-foreground-action;
            font-size: 16px;
            line-height: 40px;
            margin-right: 32px;
            &:hover {
                color: $AU-color-foreground-text;
                text-decoration: underline;
            }
        }
    }
}

.mobile-header {
    background-color: $AU-color-background;
    box-shadow: inset 0px -1px 0px rgba(73, 73, 73, 0.15);

    .mobile-header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mobile-logo-link {
            border: none;
        }

        .mobile-logo {
            margin: 10px;
        }

        .mobile-title {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
            a {
                border-bottom: 0;
            }
        }

        .icon:before,
        .icon--right:after {
            width: 1.25em;
            height: 1.25em;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            content: " ";
            background-repeat: no-repeat;
            margin-top: -2px;

            .lt-ie9 & {
                display: none;
            }
        }

        .icon:before {
            @include AU-space(margin-right, 0.5unit);
        }

        .mobile-toggle {
            background: transparent;
            border: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            &:hover,
            &:focus {
                outline: none;
            }

            &:before {
                background-image: AU-svguri(
                    '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                        '<path id="path-1" d="M2,8 L2,6 L22,6 L22,8 L2,8 Z M2,18 L2,16 L22,16 L22,18 L2,18 Z"/>' +
                        "</svg>"
                );
            }

            &:hover:before {
                background-image: AU-svguri(
                    '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                        '<path id="path-1" d="M2,8 L2,6 L22,6 L22,8 L2,8 Z M2,18 L2,16 L22,16 L22,18 L2,18 Z"/>' +
                        "</svg>"
                );
            }

            &.au-accordion--open {
                &:before {
                    background-image: AU-svguri(
                        '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                            '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
                            '<path d="M0 0h24v24H0z" fill="none"/>' + "</svg>"
                    );
                }

                &:hover:before {
                    background-image: AU-svguri(
                        '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">' +
                            '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
                            '<path d="M0 0h24v24H0z" fill="none"/>' + "</svg>"
                    );
                }
            }
        }
    }

    .mobile-nav-wrapper {
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
        ul {
            padding: 0px;
        }
    }

    .mobile-nav {
        background: #fff;
        overflow-y: hidden;
        height: 0;

        li {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid #dad9db;
            a {
                line-height: 4.5rem;
                margin: 0;
                border-left: 10px solid transparent;
                display: block;
                padding: 0;
                padding-left: 16px;
                color: $AU-colordark-background;

                &,
                &:hover,
                &:focus {
                    text-decoration: none;
                }

                &.active {
                    background: #f4f3f5;
                    font-weight: bold;
                    border-color: $AU-colordark-background;
                }
                span {
                    border-bottom: 1px solid $AU-color-foreground-action;
                }
            }
        }
        &.isOpen {
            height: auto;
        }
    }
}
