.access-group-form-popup {
    .rs-modal-body {
        padding-left: 3px;
    }
    .access-group-popup-form {
        width: 98%;
        .info-icon {
            cursor: pointer;
        }
    }
}
