.dataset-knowledge-interview-page {
    .top-tool-area {
        margin-bottom: 10px;
        .rs-panel-body {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .view-memory-blocks-button {
            padding-left: 25px;
            .svg {
                top: 10px;
                left: 8px;
                position: absolute;
            }
        }
        .share-agent-toggle {
            float: right;
        }
    }
}
