.setting-page-main-container {
    position: relative;
    min-height: 900px;
    background-color: #fff;

    .setting-page-content-container {
        padding-left: 250px;
        width: 90%;
        height: 100%;
    }
}
