.record-aspect-form-popup {
    .record-aspect-form-popup-form {
        width: 98%;
        padding-left: 5px;
        tr:not(:last-child) {
            border-bottom: 1px solid #e7e7e7;
        }
        tr:nth-child(odd) {
            background: #f9f9f9;
        }
        td {
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 8px;
        }
        .rs-picker-toggle {
            outline: none;
        }
        .json-editor-container > div {
            height: 500px;
        }
    }
}
