.registry-records-page {
    .registry-record-info-panel {
        table {
            width: 98%;
            tr:not(:last-child) {
                border-bottom: 1px solid #e7e7e7;
            }
            tr:nth-child(odd) {
                background: #f9f9f9;
            }
            td {
                padding-left: 5px;
                padding-top: 5px;
                padding-bottom: 8px;
            }
        }
    }
}
