.pagination-item.is-active{
  background: #3498db;
  color: #fff;
}

.pagination-item{
  background: transparent;
  border-radius: 0;
}

.pagination-item:hover,
.pagination-item:focus{
  border: 1px solid #444;
}

.pagination .pagination-truncate{
  float: none;
  background: transparent;
  border: 0;
}
