.star{
  position: relative;
}
.star-btn {
  background: transparent;
}

.star-btn .fa{
  vertical-align: text-top;
}

.star-btn:hover,
.star-btn.is-active{
  color: #e67e22;
}


.star-info{
  position: absolute;
  left: -30px;
  top: 30px;
  width: 170px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 9;
}

.star-info:before{
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: #fff;
  border: #ddd;
  position: absolute;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  top: -10.14px;
  transform: rotate(-45deg);
  left: 28px;
}
