.star{
  position: relative;
}

.star-btn, .star-btn:focus{
    background: rgba(255, 255, 255, 0);
    vertical-align: text-top;
    color: #bbb;
}

.star-info{
  position: absolute;
  left: -20px;
  top: 37px;
  width: 170px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 9;
}

.star-info:before{
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: #fff;
  border: #ddd;
  position: absolute;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  top: -10.14px;
  transform: rotate(-45deg);
  left: 28px;
}
