@import "variables";
@import "./pancake/sass/core.scss";

.homepage-app-container {
    position: relative;
    overflow-y: hidden;

    .app-container {
        position: relative;
    }

    .homepage-background-img {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: -1;
        min-width: $minimum;
    }

    .homepage-background {
        background: linear-gradient(
            0deg,
            rgba(108, 201, 205, 0.0001) 0%,
            #969696 100%
        );
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        min-width: $minimum;
    }

    .homepage-tagline {
        width: 100%;
        text-align: center;
        .homepage-tagline-inner {
            color: $AU-color-background;
            @include AU-fontgrid(xl);
            border-radius: 10px;
            padding: 8px;
            display: inline-block;
            font-weight: 300;
            margin-top: 32px;
            @media (min-width: $medium) {
                margin-bottom: 32px;
                background: rgba(79, 79, 79, 0.5);
            }
        }
    }

    .homepage-lozenge {
        display: block;
        text-align: right;
        margin-bottom: 32px;
        a {
            display: inline-block;
            @include AU-fontgrid(xs);
            background: rgba($AU-color-foreground-text, 0.5);
            border-radius: 16px;
            padding: 8px 16px;
            text-decoration: none;
            color: #fff;
            border-bottom: 0;
            &:hover,
            a:focus {
                background: rgba($AU-color-foreground-focus, 0.9);
                color: #fff;
            }
        }
    }
}
