.dataset-add-file-page {
    .top-area-row {
        padding-bottom: 100px;
        position: relative;
    }
    .top-text-area {
        h1 {
            font-size: 38px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.79;
            letter-spacing: normal;
            color: #30384d;
            margin-bottom: 76px;
        }
        p {
            max-width: none;
            font-size: 21px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.62;
            letter-spacing: normal;
            color: #484848;
        }
    }
    .tip-area {
        position: absolute;
        bottom: 20px;
        .tooltip-root {
            max-width: none;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: #636363;
            img {
                margin-right: 7px;
            }
        }
    }
    .files-area {
        margin-bottom: 32px;
    }
    .dataset-file-root {
        margin-bottom: 65px;
    }
    .more-files-to-add-text {
        margin-top: 54px;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.88;
        letter-spacing: normal;
        color: #484848;
    }
    .dataset-add-files-dropZone {
        width: 100%;
        height: 179px;
        margin: 0 auto 0 auto;
        cursor: pointer;
        background-image: url("../../../assets/upload-section.svg");
        background-repeat: no-repeat;
        .filedrop-zone-button.au-btn {
            background: none;
            border: none;
            width: 100%;
            height: 100%;
        }
    }

    .dataset-add-files-dropTarget {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .dataset-add-files-fileListItem {
        list-style: none;
    }
}
