@import "variables";

.dataset-add-meta-data-pages {
    h4.with-icon {
        position: relative;
    }

    h4 .help-icon-container {
        position: absolute;
        top: -2px;
        padding-left: 10px;
    }

    h3.with-underline {
        border-bottom: solid 1px #cccaca;
        margin-bottom: 50px;
        padding-bottom: 15px;
    }

    .file-icon-item {
        padding-left: 10px;
        margin-bottom: 20px;
        .file-title,
        img.file-icon {
            float: left;
            margin-right: 10px;
        }
        img.file-icon {
            width: 24px;
        }
    }

    .leaflet-container {
        height: 400px;
        width: 100%;
    }

    .dataset-add-files {
        box-sizing: border-box;
        padding: 1em;
        margin: 1em 0 1em 0;
        border: 1px solid $AU-color-foreground-action;
    }

    .fileBlock {
        border: 1px solid #cccccc;
        overflow: auto;
        line-height: 100%;
    }

    .fileBlock-icon {
        float: left;
        padding: 0.8em;
    }

    .fileBlock-control {
        float: right;
        padding: 0.5em;
    }

    .fileBlock-text {
        display: inline-block;
        padding: 1em;
    }

    .snippet-heading {
        display: inline-block;
        vertical-align: middle;
    }

    .dataset-details-and-contents-page {
        h2 {
            font-size: 38px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.61;
            letter-spacing: normal;
            color: #484848;
            margin-top: 60px;
            margin-bottom: 80px;
        }
        h3 {
            font-size: 29px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.03;
            letter-spacing: normal;
            color: #484848;
            padding-bottom: 15px;
        }

        h4 {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #484848;
        }

        .question-title {
            margin-bottom: 58px;
        }

        .question-language {
            margin-bottom: 72px;
        }

        .question-keyword {
            margin-bottom: 50px;
        }
        .question-theme {
            margin-bottom: 49px;
        }

        .question-description {
            margin-bottom: 100px;
            .tooltip-root {
                max-width: 728px;
            }
        }

        .question-issue-date {
            h4 {
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #484848;
                position: relative;
            }
        }

        .question-recent-modify-date {
            h4 {
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #484848;
            }
        }

        .date-row {
            margin-bottom: 68px;
        }

        .question-update-frequency {
            margin-bottom: 68px;
        }

        .question-time-period {
            margin-bottom: 50px;
        }
    }

    .dataset-access-and-use-page {
        h2 {
            font-size: 38px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.61;
            letter-spacing: normal;
            color: #30384d;
            margin-bottom: 80px;
        }

        h3 {
            font-size: 29px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.03;
            letter-spacing: normal;
            color: #484848;
            margin-bottom: 76px;
        }

        .question-who-can-see-dataset {
            margin-bottom: 54px;
        }

        .question-access-notes textarea {
            padding-left: 16px !important;
        }
    }

    .dataset-submit-page {
        h2 {
            font-size: 38px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.79;
            letter-spacing: normal;
            color: #30384d;
            padding-bottom: 39px;
            border-bottom: solid 1px #cccaca;
        }

        h3 {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #484848;
            margin-top: 39px;
            margin-bottom: 26px;
        }
    }
}
