.dataset-add-file-page .storage-options-section.storage-api-on {
    margin-bottom: 15px;

    .storage-option-heading,
    .access-location-heading {
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: -0.1px;
        color: #484848;
    }
    .storage-option-heading {
        margin-bottom: 36px;
    }

    .access-location-heading {
        margin-top: 55px;
        margin-bottom: 32px;
    }

    .storage-option-input-area {
        padding-left: 20px;
        position: relative;

        &:hover {
            .tooltip-container {
                display: block;
            }
        }
    }

    .au-control-input__text {
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: -0.1px;
        color: #484848;
    }

    .access-location-area {
        .tooltip-root {
            margin-bottom: 34px;
        }
    }

    .tooltip-container {
        position: absolute;
        left: 9px;
        bottom: -56px;
        border-radius: 2px;
        background-color: #042330;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #ffffff;
        padding: 15px;
        z-index: 10;
        display: none;

        .triangle {
            position: absolute;
            left: 17px;
            top: -8px;
            width: 19px;
            height: 19px;
            transform: rotate(135deg);
            border-radius: 2px;
            background-color: #042330;
        }
    }
}

.dataset-add-file-page .storage-options-section.storage-api-off {
    h3 {
        margin-bottom: 45px !important;
    }
}
