.tooltip-root.tooltip-root {
    margin-top: 1em;
    margin-bottom: 1.5em;
    min-height: 2em;
}

.tooltip-image {
    width: 2em;
    float: left;
}

.tooltip-root {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #636363;
    max-width: 978px;
    margin-top: 16px;
    margin-bottom: 24px;
    img {
        margin-right: 10px;
    }
}
