.cc-message {
    display: flex;
    flex-direction: row;

    &__avatar {
        height: 2.2em;
        width: 2.2em;
        margin: 0.3em 0.5em 0.25em 0;
        border-radius: 5px;
        flex-shrink: 0;
    }
}

