.entry-box {
    display: flex;
    margin: 0.2em 0;

    &__editor {
        background: #FFF;
        border: 1px solid gray;
        flex-grow: 1;
    }

    &__submit-button {
        width: 8em;
        margin-left: 0.2em;
    }
}