{
    "extends": "react-app",
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "parser": "@typescript-eslint/parser",
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
