{
    "extends": ["react-app", "plugin:@typescript-eslint/recommended"],
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "no-var": "warn",
        "prefer-const": "warn",
        "no-unused-expressions": "off",
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/no-this-alias": "warn",
        "@typescript-eslint/camelcase": "warn",
        "@typescript-eslint/no-inferrable-types": "off"
    },
    "parser": "@typescript-eslint/parser",
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
