@import "variables";
@import "./pancake/sass/core.scss";

.ask-dataset-form {
    padding: 1rem 1.5rem;
    overflow: hidden;
    position: relative;
    width: 700px;
    background-color: rgb(248, 247, 247);
}

.modal-header {
    color: $AU-colordark-foreground-action;
    padding: 1rem 1.5rem;
    h3 {
        margin: 0;
    }
}

.correspondence-dataset-close-button {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 0;
    background-image: AU-svguri(
        '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF">' +
            '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
            '<path d="M0 0h24v24H0z" fill="none"/>' + "</svg>"
    );
    background-repeat: no-repeat;
    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: $small) {
    .dataset-correspondence-container {
        display: inline-block;
        margin-top: 1rem;
    }
    .ask-dataset-form-responsive {
        width: auto;
        float: none;
        overflow-y: auto;
    }
    .suggest-modal-heading {
        font-size: 1rem;
        padding-right: 30px;
        text-align: left;
        padding-left: 8px;
    }
}

.ReactModalPortal > * {
    // When the modal is closed, overlay div has no css class
    opacity: 0;
}

.ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
        opacity: 1;
    }
    &--before-close {
        opacity: 0;
    }
}
