@import "variables";
@import "./pancake/sass/core.scss";

.distribution-row {
    box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.1);
    padding-top: 18px;
    padding-bottom: 18px;

    .format-icon {
        width: 32px;
        height: 32px;
        margin-top: 14px;
    }
    .distribution-row-link {
        color: $AU-color-foreground-text;
        margin-bottom: 4px;
        @include AU-fontgrid(md);
        display: flex;
        a {
            text-decoration: none;
        }
        a:hover {
            background-color: $AU-color-background;
            color: $AU-color-foreground-text;
        }
    }

    .distribution-row-link-license {
        @include AU-fontgrid(xs);
        overflow-wrap: break-word;
    }

    .download-button {
        @include remove-btn-underline;

        padding: 5px 10px;

        .button-text {
            margin-left: 25px;
        }
        img {
            vertical-align: -2px;
        }
    }
    .new-tab-button {
        vertical-align: middle;
        padding: 5px;
        border: 0;
        background: transparent;
        &:hover,
        &:focus {
            cursor: pointer;
            color: $AU-color-foreground-action;
        }
        img {
            vertical-align: top;
        }
    }
    .button-area {
        text-align: left;
        margin-top: 1rem;
        @media (min-width: $medium) {
            text-align: right;
            margin-top: 5px;
        }
        a {
            display: inline-block;
            margin-left: 5px;
        }
    }
}
