.dataset-add-file-page {
    .add-dataset-link-section {
        margin-top: 100px;

        .section-heading {
            font-size: 38px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.79;
            letter-spacing: -0.5px;
            color: #30384d;
            padding-bottom: 22px;
            border-bottom: solid 1px #cccaca;
            margin-bottom: 50px;
        }

        .link-items-section-heading {
            margin-top: 55px;
            h2 {
                font-size: 24px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.88;
                letter-spacing: -0.3px;
                color: #484848;
            }
        }

        input.url-input {
            border-radius: 8px;
            border: solid 1px #cccaca;
            margin-right: 10px;
        }

        input.url-input.invalid {
            border: solid 1px #d60000;
        }

        button.fetch-button {
            border-radius: 10px;
            border: solid 2px #30384d;
            background-color: #30384d;
        }

        button.manual-enter-metadata-button {
            margin-left: 15px;
            border-radius: 10px;
            border: solid 2px #30384d;

            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.2px;
            text-align: center;
            color: #30384d;
        }

        h4.url-input-heading {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #484848;
        }

        .au-error-text {
            padding-left: 5px;
        }

        .process-url-error-message {
            h3 {
                margin-top: 40px;
                font-size: 25px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #042330;
            }
            .heading {
                margin-top: 33px;
                padding-left: 5px;
                font-size: 17px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.88;
                letter-spacing: normal;
                color: #484848;
            }
            ul {
                margin-top: 0px;
                padding-left: 35px;
                font-size: 17px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.88;
                letter-spacing: normal;
                color: #484848;
            }
        }
    }
}
