.my-dataset-section-container {
    .dataset-list-body {
        .datat-grid-container {
            padding-left: 50px;
            padding-right: 30px;
        }
        table {
            width: 100%;
            th,
            td {
                &:first-child {
                    padding-left: 10px;
                }
            }
        }
        thead {
            th {
                text-align: left;
                height: 80px;
                color: #484848;
                font-size: 19px;
                letter-spacing: 0;
                line-height: 25px;
            }
        }
        tbody {
            tr:nth-child(odd) {
                background: #f9f9f9;
            }
            td {
                height: 51px;
                color: #30384d;
                font-size: 17px;
                letter-spacing: -0.5px;
                line-height: 25px;
            }
            .edit-button {
                border: none;
                background-color: initial;
            }
        }
        .date-col {
            width: 120px;
            text-align: center;
        }

        .action-buttons-col {
            width: 220px;
            text-align: center;
            .rs-btn-icon.rs-btn {
                padding-top: 7px;
                padding-bottom: 6px;
            }
            .rs-btn {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .grid-bottom-divider {
            margin-top: 0px;
            margin-left: 50px;
            margin-right: 30px;
            border-top: 1px solid #cccaca;
        }

        .paging-area {
            padding-right: 55px;
            .rs-btn-group {
                float: right;
            }
        }
    }
}
.dataset-grid-action-dropdown {
    .rs-dropdown-item {
        svg {
            margin-right: 8px;
        }
    }
}
