@import "../variables";
.homepage-app-container{
    .app-container{
        position: relative;
    }
    .homepage-background-img{
        position: absolute;
        width: 100vw;
        height: 100vh;

    }
}
