@import "variables";
@import "./pancake/sass/core.scss";

.feedback-button-wrapper {
    z-index: 999;
    text-align: right;
    @media (min-width: $small) {
        position: fixed;
    }
    right: 24px;
    bottom: 24px;
}

.feedback-button {
    background: $AU-colordark-background;
    color: $AU-colordark-foreground-text;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 8px;
    &:focus,
    &:hover {
        color: $AU-colordark-foreground-focus;
    }
    img {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 4px;
        top: 4px;
    }
}
