@import "variables";
@import "./pancake/sass/core.scss";

.feedback-form-inner {
    background: #fff;
    border-radius: 5px;
    border: 2px solid $AU-colordark-foreground-action;
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 400px;
    z-index: 1;
}

.feedback-form {
    z-index: 999;
    text-align: right;
    @media (min-width: $small) {
        position: fixed;
    }
    right: 20px;
    bottom: 20px;

    .feedback-form-body {
        padding: 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.26);
    }
    .close-btn {
        line-height: 0;
        padding: 0;
        margin: 0 0 0 8px;
        height: 24px;
        float: right;
        img {
            height: 20px;
            width: 20px;
        }
    }

    .feedback-form-header {
        display: flex;
        padding: 8px;
        color: $AU-colordark-foreground-action;
        text-align: left;
        font-size: 14px;
    }

    .feedback-form-footer {
        text-align: right;
        button {
            padding: 4px 8px;
        }
    }

    .notification__inner {
        right: 24px;
        bottom: 24px;
    }

    .privacy-link {
        a {
            margin-top: 10px;
            display: inline-block;
            color: $AU-color-foreground-action;
            @include AU-fontgrid(xs);
        }
        a:hover,
        a:focus {
            color: $AU-color-background;
        }
    }

    .feedback-form-field {
        display: flex;
        @include AU-fontgrid(xs);
        label {
            width: 80px;
            color: $AU-color-foreground-action;
            margin-right: 10px;
        }
        input,
        textarea {
            width: calc(100% - 80px);
            margin-bottom: 10px;
        }
    }
}
