@import '../../variables';

.create-connector-form{
  width: 300px;
  padding: 10px;
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  top: calc(50% - 100px);
  left: calc(50% - 150px);

  label{
    display: inline-block;
    width: 70px;
    margin-bottom: 5px;
  }

  .btn{
    margin-top: 10px;
  }
}

.create-connector-form-wrapper{
  background: rgba($magda-dark-grey, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
