apiVersion: v2
description: A Helm chart for Kubernetes
name: tenant-db
version: 5.3.0-alpha.0
kubeVersion: ">= 1.14.0-0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "5.3.0-alpha.0"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.tenant-db
