apiVersion: v2
description: A Helm chart for Kubernetes
name: tenant-db
version: 1.1.0-alpha.3
kubeVersion: ">= 1.14.0-0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "1.1.0-alpha.3"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.tenant-db
