.dataset-add-meta-data-pages {
    .review-page {
        .access-and-use {
            .distribution-licence-row {
                margin-bottom: 10px;
                .distribution-licence-title-col {
                    position: relative;
                    .file-icon {
                        position: absolute;
                    }
                    div {
                        padding-left: 40px;
                    }
                }
            }
        }
    }
}
