.dataset-add-meta-data-pages {
    .review-page {
        .dataset-details-and-contents {
            .collapse-item {
                margin-bottom: 50px;
            }

            .description {
                .title-box {
                    margin-top: 20px;
                }
                .content-box {
                    min-height: 200px;
                }
            }
        }
    }
}
