@import '../variables';

.project-summray__inner{
  position: relative;
  .project-title{
    padding-left: 50px;
    margin-top: 0;
  }
  .project-status{
    position: absolute;
    left: 0;
    top: 0;
  }
}
