@import "variables";
@import "./pancake/sass/core.scss";
.publishers-viewer {
    margin-top: 24px;
    .publishers-viewer__header {
        h1 {
            margin: 2rem 0;
        }
        .organization-search {
            margin: 2rem 0;
            position: relative;
            input {
                position: relative;
                padding-right: 40px;
                border-radius: 2px;
                border-width: 2px;
                border-color: #999;
            }
            input::-webkit-input-placeholder {
                color: rgba(#000, 0.8);
            }
            input:-moz-placeholder {
                color: rgba(#000, 0.8);
            }
            input::-moz-placeholder {
                color: rgba(#000, 0.8);
            }
            input:-ms-input-placeholder {
                color: rgba(#000, 0.8);
            }
        }
    }

    .search-icon.au-btn {
        position: absolute;
        right: 4px;
        top: 3px;
        border: 0;
        background-color: transparent !important;
        padding: 0.5rem;
        line-height: 0;
    }

    .result-count {
        text-transform: uppercase;
        margin-bottom: 8px;
        color: $AU-color-foreground-action;
        font-weight: 500;
    }

    .clear-btn.au-btn.au-btn--tertiary {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $AU-color-foreground-action;
        padding-bottom: 4px;
        text-decoration: none;
        color: $AU-color-foreground-action;
        padding: 0;
        line-height: 1;
        margin-left: 16px;
        &:hover,
        &:focus {
            cursor: pointer;
        }
    }
    .org-result-page-body {
        min-height: 650px;
    }
}
