.publisher-details {
    .publisher-details-title {
        h1 {
            margin-bottom: 0px !important;
        }
        margin-bottom: 16px;
    }
    .publisher-details-overview {
        margin-bottom: 8px;
    }

    .publisher-details-contacts {
        .publisher-details-contacts-item {
            margin-bottom: 4px;
        }
    }
}
