@import "variables";
@import "./pancake/sass/core.scss";

.publisher-summray {
    height: auto;
    clear: both;
    height: auto;
    overflow: auto;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.15);
    box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.15);
    padding-bottom: 8px;
    overflow-x: hidden;

    .publisher-title {
        @include AU-fontgrid(md);
        color: $AU-color-foreground-action;
        font-weight: 300;
        margin-bottom: 0;
        a {
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: underline;
                color: $AU-color-foreground-focus;
            }
        }
    }

    .publisher-meta a {
        opacity: 0.75;
        @include AU-fontgrid(xs);
        margin-bottom: 5px;
        display: inline-block;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .publisher-meta-jurisdiction {
        opacity: 0.75;
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 1.42857;
        margin-bottom: 5px;
        text-decoration: none;
        color: #6f6f6f;
    }

    .publisher-description {
        @include AU-fontgrid(xs);
        margin-bottom: 8px;
        overflow: hidden;
        h1,
        h2,
        h3,
        h4 {
            margin: 0 0 10px;
        }
    }
}
