apiVersion: v2
description: A Helm chart for Kubernetes
name: session-db
version: 2.2.3
kubeVersion: ">= 1.14.0-0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "2.2.3"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.session-db
