apiVersion: v2
description: A Helm chart for Kubernetes
name: session-db
version: 1.0.0-alpha.2
kubeVersion: ">= 1.14.0-0"
dependencies:
  - name: magda-postgres
    version: "1.0.0-alpha.2"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.session-db
