@import "variables";
@import "./pancake/sass/core.scss";

@mixin text() {
    font-size: 1rem;
    border-bottom: 0;
    padding: 24px 60px 24px 16px;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    border: none;
    outline: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    background-image: none;
    color: #ffffff;
    @media (min-width: $medium) {
        padding-left: 0;
        margin-bottom: 0;
        display: block;
        padding-top: 15px;
        font-family: inherit;
        font-size: 33px;
        font-weight: 300;
        height: 57px;
        padding-right: 50px;
        padding-bottom: 5px;
        margin-bottom: 0px;
    }
}

.searchBox-switcher {
    &.none-home {
        background: $AU-colordark-background;
        margin-bottom: 10px;
        .searchBox {
            background-color: transparent;
        }
    }
}

.searchBox {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgba($AU-color-foreground-action, 0.8);
    background: $AU-color-background;
    border-radius: 0px;
    input::-webkit-input-placeholder {
        color: #dad2da;
    }
    input:-moz-placeholder {
        color: #dad2da;
    }
    input::-moz-placeholder {
        color: #dad2da;
    }
    input:-ms-input-placeholder {
        color: #dad2da;
    }

    input:focus::-webkit-input-placeholder {
        opacity: 0.5;
    }
    input:focus:-moz-placeholder {
        opacity: 0.5;
    }
    input:focus::-moz-placeholder {
        opacity: 0.5;
    }
    input:focus:-ms-input-placeholder {
        opacity: 0.5;
    }

    @media (min-width: $medium) {
        margin: 0 auto 2rem auto;
        padding: 3rem 6rem;
        width: 48rem;
        border: 0;
        box-shadow: none;
        border-radius: 2px;
    }

    label {
        width: 100%;
        position: relative;
    }
    input,
    input:focus {
        @include text();
        margin-bottom: 2px;
        @media (min-width: $medium) {
            border-bottom: 2px solid #cfcfcf;
        }
        outline: none !important;
    }

    .search-btn {
        position: absolute;
        right: 8px;
        padding: 8px;
        bottom: 12px;
        border: 2px solid transparent;
        box-sizing: border-box;
        display: inline-block;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        text-decoration: none;
        margin: 0px;
        font-size: 0px;
        font-weight: inherit;
        overflow: visible;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        background: none;
        img {
            width: 28px;
            height: 28px;
        }
        @media (min-width: $medium) {
            padding: 5px;
            bottom: 0px;
            right: -3px;
            border-radius: 4px;
            &.not-empty {
                border-bottom: 2px solid $AU-colordark-foreground-focus;
            }
            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    .search-btn-box {
        vertical-align: bottom;
        text-align: right;
    }

    .search-input__highlight {
        position: absolute;
        bottom: 0px;
        left: -1px;
        font-size: 33px;
        height: 0;
        overflow: hidden;
        color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        max-width: 100%;
        border-top: 2px solid $AU-colordark-foreground-focus;
        border-radius: 2px;
        display: none;
        @media (min-width: $medium) {
            display: inline;
            bottom: 0px;
        }
    }

    @media print {
        display: none;
    }
}

.home {
    .searchBox {
        margin: 2rem auto 2rem auto;
        @media (min-width: $medium) {
            margin: 6rem auto 6rem auto;
        }
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
            0px 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        input {
            color: $AU-color-foreground-action;
        }
    }
    .search-input__highlight {
        border-top: 2px solid rgba($AU-color-foreground-action, 0.7);
    }
    input::-webkit-input-placeholder {
        color: rgba($AU-color-foreground-action, 0.6);
    }
    input:-moz-placeholder {
        color: rgba($AU-color-foreground-action, 0.6);
    }
    input::-moz-placeholder {
        color: rgba($AU-color-foreground-action, 0.6);
    }
    input:-ms-input-placeholder {
        color: rgba($AU-color-foreground-action, 0.6);
    }
}

.other-page {
    .searchBox {
        ::selection {
            background: rgba(#ffffff, 0.4) !important;
            color: #ffffff !important;
        }
    }
}
