@import "variables";
@import "./pancake/sass/core.scss";

.search-suggestion-box {
    left: 0px;
    right: 0px;
    top: 75px;
    position: absolute;
    z-index: 2;
    color: $AU-color-foreground-action;
    .search-suggestion__heading {
        font-weight: 500;
        font-size: 10px;
        text-transform: uppercase;
    }
    .search-suggestion-box-position-adjust {
        @media (max-width: $medium - 1) {
            height: 3px;
        }
        @media (min-width: $medium) {
            height: 0px;
        }
    }
    .search-suggestion-box-body {
        background: #fff;
        @media (min-width: $medium) {
            border: 1px solid #ecf0f1;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
        }
        @media (max-width: $medium - 1) {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
                0px 4px 4px rgba(0, 0, 0, 0.25);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        button.search-item-main-button {
            width: calc(100% - 50px);
            text-align: left;
            padding: 0px;
            &.search-item-main-button {
                color: $AU-color-foreground-action;
            }
            &.markdown {
                margin-left: 0;
                em {
                    font-weight: 500;
                }
            }
        }
        button.search-item-delete-button {
            padding: 8px;
            img {
                width: 13px;
                height: 13px;
                opacity: 0.5;
            }

            &--selected.search-item-delete-button {
                background: #f2f2f2 !important;
            }
        }
        .search-item-container {
            position: relative;
            display: flex;
            @media (max-width: $medium - 1) {
                box-shadow: inset 0px -1px 0px rgba(73, 73, 73, 0.15);
            }
        }

        .recent-item-icon {
            padding: 8px;
        }

        .search-history-items {
            list-style: none;
            padding: 0;
        }
    }

    .selected {
        color: rgba($AU-color-foreground-text, 0.87);
        background: #f2f2f2 !important;
        button {
            background: #f2f2f2 !important;
        }
    }
}
