@import "variables";

.contactList {
    display: table;
}

.contactList-item {
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 0.5em;
}

.contactList-searchResult {
    padding: 0.5em;
}
