@import "variables";
@import "./pancake/sass/core.scss";

.search-results {
}
.search-results__result {
    padding: 0 5px;
    background: #fff;
    clear: both;
    height: auto;
    overflow: auto;
    margin-bottom: 24px;
    box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.15);
    padding-bottom: 24px;
    overflow-x: hidden;
}

.correspondence-dropdown-search {
    margin-top: 6px !important;
    padding-top: 6px !important;
    margin-bottom: 6px !important;
    padding-bottom: 6px !important;
}

.search-results__count {
    @include AU-fontgrid(sm);
    color: $AU-color-background;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0;
    padding: 0 15px;
}
