.access-location-auto-complete-input-outer-container {
    margin-bottom: 20px;
}

.dataset-add-meta-data-pages {
    .dataset-access-and-use-page {
        h2 {
            font-size: 38px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.61;
            letter-spacing: normal;
            color: #484848;
            margin-top: 60px;
            margin-bottom: 80px;
        }
    }
}
