@import "../../variables";

.searchBox-region-home {
    position: relative;
    margin-bottom: 32px;
    @media (min-width: $medium) {
        padding: 55px 95px 65px;
        background-color: rgba(#fff, 0.8);
    }
}
