.add-new-files-modal {
    .small-heading {
        color: #737373;
        font-size: 18px;
        letter-spacing: -0.3px;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .file-drop-area {
        position: relative;
        padding-left: 5px;
        margin-bottom: 43px;
        width: 1122px;
    }
    .file-items-area {
        width: 1122px;
        position: relative;
        div {
            z-index: 1;
        }
    }
    .url-items-area {
        margin-bottom: 50px;
    }

    .bottom-button-area {
        margin-top: 25px;
        padding-top: 25px;
        text-align: center;
        border-top: 2px solid #cccaca;
    }

    .dataset-add-files-fileListItem {
        margin-bottom: 65px;
    }

    .add-dataset-from-link-input-outer-container {
        padding-left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .content-area {
        max-height: 76vh;
        overflow-y: scroll;
    }

    button.manual-create-file-button {
        z-index: 2;
        position: absolute;
        bottom: 190px;
        right: 10px;
        margin-left: 0px;
        border-radius: 10px;
        border: solid 2px #30384d;

        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.2px;
        text-align: center;
        color: #30384d !important;
    }
}
.last-row {
    margin-bottom: 0px;
}
@media (max-height: 800px) {
    .add-new-files-modal {
        .content-area {
            max-height: 63vh !important;
        }
    }
}

@media (max-height: 900px) {
    .add-new-files-modal {
        .content-area {
            max-height: 62vh !important;
        }
    }
}
