.confirm-metadata-modal {
    .small-heading {
        color: #737373;
        font-size: 18px;
        letter-spacing: -0.3px;
        line-height: 20px;
        margin-bottom: 26px;
    }

    .bottom-button-area {
        margin-top: 25px;
        padding-top: 25px;
        text-align: center;
        border-top: 2px solid #cccaca;
    }

    .content-area {
        max-height: 76vh;
        overflow-y: scroll;

        .metadata-table-area {
            border: 1px solid #9b9b9b;
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px;
            padding-bottom: 20px;
        }

        table.metadata-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 30px;

            th {
                text-align: center;
                color: #012c41;
                font-size: 23px;
                letter-spacing: -0.1px;
                line-height: 40px;
                padding: 14px;
                border-bottom: 4px solid #cccaca;
                &:first-of-type {
                    border-right: 4px solid #cccaca;
                }
                &:last-of-type {
                    border-left: 4px solid #cccaca;
                }
            }
            tr {
                td:first-of-type {
                    border-right: 4px solid #cccaca;
                }
                td:last-of-type {
                    border-left: 4px solid #cccaca;
                }
            }
            td {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 12px;
                padding-bottom: 12px;
                width: 512px;
            }
        }
    }
}
