.distribution-deletion-confirmation-modal {
    .heading {
        color: #30384d;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 26px;
    }

    .bottom-button-area {
        margin-top: 25px;
        padding-top: 25px;
        text-align: center;
        border-top: 2px solid #cccaca;
    }

    .content-area {
        max-height: 76vh;
        .inner-content-area {
            max-height: 70vh;
            overflow-y: scroll;
            margin-bottom: 25px;
        }
    }
}
