.dataset-add-file-page.is-edit-view {
    .distribution-supercede-section {
        margin-top: 50px;
        .replace-option-heading {
            margin-top: 40px;
        }
        .supercede-selection-heading {
            margin-top: 40px;
        }

        .button-area {
            margin-top: 30px;
        }
    }
}
