.search-recomendation {
  margin: 10px 15px; }

.search-recomendation__option-btn {
  background: none;
  font-weight: 600;
  padding: 3px 0;
  line-height: 1;
  display: inline-block;
  width: auto;
  vertical-align: baseline;
  font-style: italic;
  color: #3498DB; }

.search-recomendation__option-btn:hover,
.search-recomendation__more-option-btn:hover,
.search-recomendation__more-option-btn:focus {
  text-decoration: underline; }

.search-recomendation__more-option-btn {
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  padding: 0; }

.search-recomendation__more-options-options {
  position: absolute;
  background: #fff;
  z-index: 999;
  border: 1px solid #ddd;
  right: 0; }

.search-recomendation__main {
  width: calc(100% - 50px);
  float: left; }

.search-recomendation__more-options {
  float: right; }

.btn-suggested-option {
  background: transparent;
  font-weight: bold;
  font-style: italic;
  padding: 0 10px 0 0; }

.btn-suggested-option:hover {
  text-decoration: underline; }

.btn-suggested-option.is-active {
  color: #3498db; }

.btn-suggested-option.is-active:after {
  content: '\f00d';
  font-family: 'FontAwesome';
  display: inline-block;
  width: 10px;
  height: 10px; }

@media (max-width: 768px) {
  .search-recomendation {
    margin: 10px 0; } }
