.search-recomendation{
  margin: 10px 15px;
  background-color: #3498db;
  color: #FFFFFF;
  padding: 10px 15px;
}

.search-recomendation-option-btn{
  background: none;
  font-weight: 600;
  color: #FFFFFF;
  padding: 3px 0;
  line-height: 1;
  display: inline-block;
  width: auto;
  vertical-align: baseline;
  font-style: italic;
}

.search-recomendation-option-btn:hover{
  color: #ecf0f1;
  text-decoration: underline;
}

.more-option-btn{
  background: rgba(255, 255, 255, 0);
  color: #3498db;
  padding: 0;
}

.more-options-options{
  position: absolute;
  background: #fff;
  z-index: 999;
  border: 1px solid #ddd;
  right: 0;
}

.search-recomendation .main{
  width: calc(100% - 50px);
  float: left;
}

.search-recomendation .more-options{
  width: 50px;
  float: left;
}

@media (max-width: 768px) {
  .search-recomendation{
    margin: 10px 0;
  }
}
