.search__search-header {
  background-color: #dcdfe1;
  padding: 23px 0;
  margin-bottom: 10px; }

.search__search-body__header {
  border-bottom: 1px solid #dcdfe1;
  margin-bottom: 20px; }

@media (max-width: 768px) {
  .search__search-body {
    background: #dcdfe1; }
  .search__search-header {
    margin-bottom: 0px;
    padding-bottom: 0; } }
