.search-box input {
  height: 50px;
	border-radius: 1px;
	background-color: #ffffff;
	border: solid 1px #3498db;
  font-size: 18px;
}

.search-box .input-group-addon{
	height: 50px;
  padding: 6px 18px;
  font-size: 18px;
	border-radius: 1px;
	background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}
