.search-box__form-control {
  height: 50px;
  border-radius: 1px;
  background-color: #ffffff;
  font-size: 18px;
  padding-right: 30px; }

.search-box__input {
  width: calc(100% - 38px);
  position: relative; }

.search-box {
  position: relative;
  padding: 0 15px; }

.search-box__clear-btn {
  position: absolute;
  right: 1px;
  top: 3px;
  bottom: 3px;
  z-index: 10;
  background: transparent;
  background: #fff;
  color: #ddd; }

.search-box__icon {
  border-radius: 1px;
  background-color: #3498db;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 53px; }

.search-box .fa {
  vertical-align: bottom;
  font-size: 20px; }

@media (max-width: 768px) {
  .search-box {
    padding-left: 0; } }
