.search__search-header{
	background-color: #ecf0f1;
  padding: 23px 0;
  margin-bottom: 20px;
}

.search__search-body__header{
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 20px;
}

.summary{
    background: #ecf0f1;
    padding: 10px;
}

.search-suggestions{
  padding: 20px 15px 0 15px;
}

.btn-suggested-option{
	background: transparent;
	font-weight: bold;
	font-style: italic;
	padding: 0 10px 0 0;
}

.btn-suggested-option:hover{
	text-decoration: underline;
}

.btn-suggested-option.is-active{
	color: #3498db;
}

.btn-suggested-option.is-active:after{
	content: '\f00d';
	font-family: 'FontAwesome';
	display: inline-block;
	width: 10px;
	height: 10px;
}

.search-error{
	background: #e74c3c;
}
