.welcome-text{
  text-align: left;
  margin: 20px 15px;
}

.welcome-text li{
  padding: 10px 0;
}

.intro{
  font-weight: 700;
}

@media (max-width: 768px) {
	.welcome-text{
		text-align: center;
	}
}
