global:
  externalUrl: http://magda-dev.terria.io
  rollingUpdate:
    maxUnavailable: 1
  image:
    tag: "0.0.35"
gateway:
  loadBalancerIP: "104.199.180.124"
  auth:
    facebookClientId: "173073926555600"
    googleClientId: "275237095477-f7ej2gsvbl2alb8bcqcn7r5jk0ur719p.apps.googleusercontent.com"
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
combined-db:
  resources:
    requests:
      cpu: 400m
      memory: 1500Mi
  waleBackup:
    method: WAL
    gsPrefix: "gs://magda-postgres-backups-asia/dev"
    executionTime: 03:00
    googleApplicationCreds:
      secretName: storage-account-credentials
      fileName: TerriaJS-5e042b649f8a.json
elasticsearch:
  data:
    heapSize: 500m
    pluginsInstall: "repository-gcs"
    resources:
      requests:
        cpu: 400m
        memory: 1000Mi
feedback-api:
  gitHubIssuesUrl: "https://api.github.com/repos/TerriaJS/Magda-Feedback/issues"
indexer:
  resources:
    requests:
      cpu: 0
      memory: 0
preview-map:
  resources:
    requests:
      cpu: 0
      memory: 0
registry-api:
  resources:
    requests:
      cpu: 0
      memory: 0
search-api:
  resources:
    requests:
      cpu: 0
      memory: 0
web-server:
  resources:
    requests:
      cpu: 0
      memory: 0
sleuther-linked-data-rating:
  resources:
    requests:
      cpu: 0
      memory: 0
sleuther-broken-link:
  resources:
    requests:
      cpu: 0
      memory: 0
sleuther-visualization:
  resources:
    requests:
      cpu: 200m
      memory: 200Mi
sleuther-format:
  resources:
    requests:
      cpu: 0
      memory: 0
admin-api:
  resources:
    requests:
      cpu: 0
      memory: 0
authorization-api:
  resources:
    requests:
      cpu: 0
      memory: 0
discussions-api:
  resources:
    requests:
      cpu: 0
      memory: 0
