global:
  useCombinedDb: true
  useCloudSql: false
  externalUrl: https://dev.magda.io
  image:
    repository: "registry.gitlab.com/magda-data/magda"
    tag: "main"
    pullSecrets: "regcred"
    pullPolicy: Always
  rollingUpdate:
    maxUnavailable: 1
  enablePriorityClass: true
  defaultContactEmail: "magda-test@googlegroups.com"
  enableMultiTenants: false

tags:
  all: true
  correspondence-api: true
  ingress: true
  connectors: true
  minion-broken-link: false
  minion-linked-data-rating: true
  minion-visualization: true
  minion-format: true

magda:
  openfaas:
    operator: 
      createCRD: false
  minion-broken-link:
    domainWaitTimeConfig:
      data.csiro.au: 5
      data.gov.au: 30
      data.act.gov.au: 30
  magda-core:
    ingress:
      hostname: dev.magda.io
      ingressClass: nginx
      enableTls: true
      clientBodyBufferSize: 500M
      proxyBodySize: 500M
      domains:
        - dev.magda.io
        - "*.dev.magda.io"

    gateway:
      enableCkanRedirection: false
      enableAuthEndpoint: true
      enableHttpsRedirection: true
      authPlugins:
      - key: google
        baseUrl: http://magda-auth-google
      - key: internal
        baseUrl: http://magda-auth-internal
      - key: arcgis
        baseUrl: http://magda-auth-arcgis
      - key: facebook
        baseUrl: http://magda-auth-facebook
      cors:
        credentials: true
        origin: true
      cookie:
        # Set sameSite to "none" to explicitly allow cross-site cookie
        # It's only for allowing frontend local dev site to login to remote dev instance
        # Should not be set to "none" for a production site
        sameSite: "none"
      helmet:
        contentSecurityPolicy:
          directives:
            scriptSrc:
            - "'self'"
            - https://*.googletagmanager.com
            # the following two domains are for downloading Magda UI plugins from github release
            - github.com
            - objects.githubusercontent.com
            imgSrc:
            - "'self'"
            - "data:"
            - https://*.googletagmanager.com
            - https://*.google-analytics.com
            # for display google user avatar
            - https://*.googleusercontent.com
            # metadata editor map display
            - https://*.tile.openstreetmap.org
            - https://*.basemaps.cartocdn.com
            connectSrc:
            - "'self'"
            # geospatial search panel selection view vector tiles buckets
            - https://tiles.magda.io
            - https://*.google-analytics.com
            - https://*.analytics.google.com
            - https://*.googletagmanager.com
        
    combined-db:
      magda-postgres:
        backupRestore:
          storageSecretName: backup-storage-account
          storageConfig:
            WALG_GS_PREFIX: "gs://magda-postgres-backups-asia/dev"
          backup: 
            enabled: false # disable backup for dev environment for now
            schedule: "0 15 * * 6"
        postgresql:
          image: 
            registry: "registry.gitlab.com"
            repository: "magda-data/magda/magda-postgres"
            tag: "main"
            pullPolicy: "Always"
            pullSecrets: 
              - "regcred"
          primary:
            priorityClassName: "magda-9"
            affinity:
              nodeAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                    - matchExpressions:
                        - key: cloud.google.com/gke-preemptible
                          operator: DoesNotExist
            extraVolumes:
              - name: storage-account
                secret:
                  secretName: backup-storage-account
            extraVolumeMounts:
              - name: storage-account
                mountPath: /etc/wal-g.d/env
          persistence:
            size: "250Gi"

    opensearch:
      data:
        storage: 80Gi
        javaOpts: "-Xms500m -Xmx500m"
        resources:
          requests:
            cpu: 200m
            memory: 1000Mi
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: cloud.google.com/gke-preemptible
                      operator: DoesNotExist

    web-server:
      fallbackUrl: "https://data.gov.au"
      showNotificationBanner: false
      featureFlags:
        cataloguing: true
        publishToDga: false
        datasetApprovalWorkflowOn: false
        useStorageApi: true
      vocabularyApiEndpoints:
        - "https://vocabs.ands.org.au/repository/api/lda/abares/australian-land-use-and-management-classification/version-8/concept.json"
        - "https://vocabs.ands.org.au/repository/api/lda/neii/australian-landscape-water-balance/version-1/concept.json"
        - "https://vocabs.ands.org.au/repository/api/lda/ands-nc/controlled-vocabulary-for-resource-type-genres/version-1-1/concept.json"
      showContactButtonForNoContactPointDataset: true
      externalUIComponents:
      - "https://github.com/magda-io/magda-ui-plugin-component-dap-image-gallery/releases/download/v1.0.0/DAPImageGallery.js"
      - "https://github.com/magda-io/magda-ui-plugin-component-open-3d-dataset/releases/download/v2.0.0/Open3dDatasetSection.js"
      extraConfigData:
        "3dDatasetDigitalTwinInstances":
        - sourceDataDomain: "nsw.gov.au"
          url: "https://nsw.digitaltwin.terria.io/"
      llmExtensionInstallationUrl: https://chromewebstore.google.com/detail/magda-llm-service-worker/ljadmjdilnpmlhopijgimonfackfngmi
      enableChatbot: true
      gapiIds:
        - G-3LGQ7FWH1B

    correspondence-api:
      alwaysSendToDefaultRecipient: true
      smtpHostname: "smtp.mailgun.org"
      smtpPort: 2525

    registry-api:
      autoscaler:
        ## whether to enable autoscaling
        enabled: true
        ## The minimum number of replicas to have
        minReplicas: 1
        ## The maximum number of replicas to have
        maxReplicas: 2
      deployments:
        readOnly:
          enable: true

# auth plugin for google
magda-auth-google:
  googleClientId: "275237095477-f7ej2gsvbl2alb8bcqcn7r5jk0ur719p.apps.googleusercontent.com"

magda-auth-arcgis:
  arcgisClientId: "d0MgVUbbg5Z6vmWo"

magda-auth-facebook:
  clientId: "173073926555600"

# Connectors settings is built in local-deployment chart value file but you can override as the followings:
# e.g. dga connector:
# connector-dga:
#   config:
#     id: dga
#     name: "data.gov.au"
#     sourceUrl: "https://data.gov.au/data/"
#     pageSize: 1000
#     ignoreHarvestSources: ["*"]
