global:
  rollingUpdate:
    maxUnavailable: 1000
  image:
    imagePullSecret: "regcred"
    pullPolicy: Always
  exposeNodePorts: false
  enablePriorityClass: false
  defaultContactEmail: "magda-test@googlegroups.com"
  enableMultiTenants: true

tags:
  all: true
  correspondence-api: true
  ingress: true
  priorities: false
  connectors: false

magda:
  openfaas:
    operator: 
      createCRD: false
  magda-core:
    ingress:
      ingressClass: nginx
      enableTls: true
      useDefaultCertificate: true

    registry-api:
      skipAuthorization: false

    gateway:
      ckanRedirectionDomain: "ckan.data.gov.au"
      ckanRedirectionPath: ""
      enableCkanRedirection: false
      enableAuthEndpoint: true
      enableHttpsRedirection: true
      auth:
        facebookClientId: "173073926555600"
      authPlugins:
      - key: google
        baseUrl: http://magda-auth-google
      - key: ckan
        baseUrl: http://magda-auth-ckan
      - key: internal
        baseUrl: http://magda-auth-internal
      - key: arcgis
        baseUrl: http://magda-auth-arcgis
      autoscaler:
        enabled: false
      helmet:
        frameguard: false
      cors:
        credentials: true
        origin: true
      csp:
        directives:
          scriptSrc:
          - "'self'"
          - "'unsafe-inline'"
          - "*.dev.magda.io"
          - "https://cdn.polyfill.io"
          - "https://dev.virtualearth.net"
          - browser-update.org
          objectSrc:
          - "'none'"
          reportUri: https://sdga.report-uri.com/r/d/csp/enforce

    combined-db:
      magda-postgres:
        backupRestore:
          storageConfig:
            WALG_GS_PREFIX: "gs://magda-postgres-backups-asia/dev"
          recoveryMode: 
            enabled: true
        postgresql:
          primary:
            extraVolumes:
              - name: storage-account
                secret:
                  secretName: backup-storage-account
            extraVolumeMounts:
              - name: storage-account
                mountPath: /etc/wal-g.d/env
          persistence:
            size: "250Gi"
          resources:
            limits:
              cpu: 2000m

    elasticsearch:
      data:
        heapSize: 500m
        pluginsInstall: "repository-gcs"
      backup:
        googleApplicationCreds:
          secretName: backup-storage-account
          fileName: db-service-account-private-key.json
    indexer:
      resources:
        requests:
          cpu: 100m
          memory: 0
      readSnapshots: false
      makeSnapshots: false
      elasticsearch:
        useGcsSnapshots: true
        gcsSnapshotBucket: "magda-es-snapshots-dev"
        gcsSnapshotClient: "default"

    web-server:
      fallbackUrl: "https://data.gov.au"
      featureFlags:
        cataloguing: true
        publishToDga: true
        placeholderWorkflowsOn: false
        datasetApprovalWorkflowOn: true
        useStorageApi: true

    correspondence-api:
      alwaysSendToDefaultRecipient: true
      smtpHostname: "smtp.mailgun.org"
      smtpPort: 2525

# auth plugin for google
magda-auth-google:
  googleClientId: "275237095477-f7ej2gsvbl2alb8bcqcn7r5jk0ur719p.apps.googleusercontent.com"

magda-auth-arcgis:
  arcgisClientId: "d0MgVUbbg5Z6vmWo"