.chart-config {
    .chart-config_icon-select {
        button {
            background: transparent;
            border: 0;
            box-shadow: 0;
            margin-right: 2px;
            border: 1px solid rgba(0, 0, 0, 0);
            padding: 4px;
            &.isActive {
                border: 1px solid rgba(0, 0, 0, 0.26);
                background: $AU-color-foreground-action;
                img {
                    filter: grayscale(1) brightness(10);
                }
            }
            &:hover {
                outline: $AU-colordark-foreground-focus auto 5px;
                cursor: pointer;
            }
        }
    }
    .chart-type {
        margin-top: 1em;
    }
    .chart-title {
        margin-top: 1em;
    }
    .x-axis {
        margin-top: 1em;
    }
    .y-axis {
        margin-top: 1em;
    }
}
