@import "../variables";
.data-preview-vis {
    margin-bottom: 36px;
    .data-preview-vis_chart {
        margin-left: -16px;
        margin-top: 16px;
    }
    .data-preview-vis_file-name {
        @include AU-fontgrid(sm);
        line-height: 19px;
    }
    .tab-list {
        button {
            border: none;
            border-bottom: 0.5rem solid $AU-colordark-foreground-action;
            padding: 1rem 1rem;
            font-size: 1rem;
            line-height: 1.5;
            display: block;
            text-decoration: none;
            &.tab-active {
                border-color: $AU-color-foreground-action;
            }
            &:hover,
            &:focus {
                cursor: pointer;
            }
        }
    }
}
