@import "../variables";
.data-preview-map {
    .open-in-national-map-button {
        position: relative;
        height: 40px;
        width: 202px;
        border: 1px solid rgba(73, 73, 73, 0.05);
        border-radius: 2px;
        background-color: $AU-color-background;
    }

    .rectangle-1 {
        position: absolute;
        box-sizing: border-box;
        height: 13px;
        width: 13px;
        border: 2px solid $AU-color-foreground-action;
        top: 11px;
        left: 15px;
        background-color: $AU-color-background;
    }

    .rectangle-2 {
        position: absolute;
        box-sizing: border-box;
        height: 12px;
        width: 12px;
        border: 2px solid $AU-color-foreground-action;
        top: 15px;
        left: 12px;
    }

    .open-national-map-button-text {
        position: absolute;
        height: 17px;
        width: 158px;
        color: $AU-color-foreground-action;
        font-family: inherit;
        font-size: 14px;
        line-height: 17px;
        right: 16px;
        top: 9px;
    }
}
