@import "../../variables";
.description-box {
    .toggle-button {
        color: #cc3139;
        @include AU-fontgrid(sm);
        border: none;
        cursor: pointer;
        position: relative;
        padding-left: 0px;
        margin-top: 10px;

        img {
            position: absolute;
            top: -2px;
        }
    }
    .toggle-button:focus {
        outline: none;
    }
}
