@import "../_variables.scss";

.markdown__wrap {
    word-wrap: break-word;
}

.dataset-summary-description {
    .markdown strong,
    p > strong {
        font-size: 0.875rem;
        font-weight: inherit;
    }

    .markdown code {
        font-size: 0.875rem;
        font-weight: inherit;
        font-family: $AU-font;
        padding: 0;
        background-color: transparent;
        display: inline;
        border: none;
    }

    .markdown ul {
        list-style: none;
        display: inline;

        li strong {
            font-weight: normal;
        }
    }
}
