@import '../variables';

.month-picker{
  width: 200px;
  .mui-textfield{
    margin: 0;
    &>input{
      text-align: center;
    }
  }

  .mui-table>tbody>tr>td{
    margin: 4px;
  }
  button{
    box-shadow: inset 0 -1px 0 0 rgba(73,73,73,0.1);
    font-size: 12px;
    line-height: 14px;
    padding: 16px 20px;
    border-radius: 0;
    &:hover, &.is-active{
      color: $main;
      box-shadow: inset 0 -2px 0 0 #CC3139;
    }
  }
}
