@import "../variables";

.month-picker {
    width: calc(50% - 10px);
    @include AU-fontgrid(sm);
    position: relative;

    td {
        margin: 4px;
        padding: 0 !important;
    }

    th {
        padding: 0 !important;
    }

    .month-picker-prompt {
        border: 1px solid rgba(73, 73, 73, 0.05);
        background-color: $body;
        color: #ffffff;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        display: block;
        position: absolute;
        padding: 4px 4px;
        z-index: 2;
    }

    .btn-month {
        box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.1);
        line-height: 14px;
        padding: 16px 1%;
        text-align: center;
        border-radius: 0;
        height: auto;
        margin: 0;
    }
}

.future-date-tooltip {
    font-weight: 200;
}

.help-icon-position {
    position: absolute;
    right: 16px; //Match padding generated for .year-input-container
    transition: right 0.2s;
    top: 11px;
}

.year-input-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
