@import "../variables";
.pagination {
    margin: 48px 0;
    .pagination-list {
        list-style: none;
        display: flex;
        padding-left: 0;
        justify-content: center;
        margin-bottom: 24px;
        button {
            height: 28px;
            min-width: 28px;
            border-radius: 2px;
            line-height: 1;
            padding: 0px;
            margin: 12px;
            font-weight: 400;
            background-color: $AU-color-background;
            color: $AU-color-foreground-action;
            &.current {
                background-color: $AU-colordark-foreground-action;
            }
        }
    }
    .pagination-summray {
        opacity: 0.5;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 8px;
    }
}
