.star-rating-box {
    .tooltip a {
        color: #fff;
    }

    .tooltip img {
        margin-left: 5px;
    }
    .full-star-icon {
        img {
            margin-bottom: 1px;
        }
    }
}
