@import "../variables";
.tabs__bar {
    a.tab--is-active {
        border-bottom: 2px solid #2196f3;
    }
    li > a {
        cursor: pointer;
    }
    a {
        &:focus {
            text-decoration: none;
        }
    }
}
