.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    line-height: 1.2;
    font-size: 0.9rem;
    visibility: hidden;
    width: 140px;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px;
    transition-delay: 1s;
    transition: visibility 1s ease;

    @media screen and (hover: none) {
        transition: none !important;
    }

    a {
        color: #fff;
    }
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
}

.tooltip:hover .tooltiptext,
.tooltip-open .tooltiptext {
    visibility: visible;
}
