$form-width: 700px;

form {
  max-width: $form-width;
}

.textarea-input {
    width: -webkit-fill-available;
    display: block;
    margin-bottom: 30px;
    margin-top: 20px; }
  
.suggest-page-input {
    display: block;
    width: 300px;
    margin-bottom: 30px;
    margin-top: 10px; }

.submit-button {
    float:right;
}  