.dataset-info{
  background: #ecf0f1;
  margin: 20px 0 30px 0;
}

.dataset-info-inner{
  padding: 5px 20px 20px 20px;
}

.dataset-info-footer{
  background: rgba(189, 195, 199, 0.15);
  padding: 10px 20px;
}

.dataset-info-inner h5{
  color: #95a5a6;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.dataset-info--download-link .fa{
  font-size: 30px;
  margin-right: 15px;
  display: table-cell;
}

.dataset-info--download-link a{
  display: table-cell;
  padding: 0 0 0 10px;
  vertical-align: middle;
}

.dataset-info--download-link{
  margin-bottom: 10px;
  display: table;
}

.dataset-info-footer--left{
  float: left;
  text-align: left;

}

.dataset-info-footer--left a,
.dataset-info-footer--left button{
  color: #7f8c8d;
  font-size: 18px;
}

.dataset-info-footer--left a:hover,
.dataset-info-footer--left button:hover,
.dataset-info-footer--left a:focus,
.dataset-info-footer--left button:focus{
  color: #3498db;
}

.dataset-info-footer--right{
  float: right;
  text-align: right;
}

.dataset-info-footer--right a{
  background: #3498db;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 #2980b9;
  color: #fff;
}

.dataset-info-footer--right a:hover,
.dataset-info-footer--right a:focus{
  color: #fff;
}
