@import "variables";
html{
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  font-size: 1rem;
}

h1{
  font-size: $heading1;
}

h2{
  font-size: $heading2;
}

h3{
  font-size: $heading3;
}

.navbar-header{
  background: #fff;
}

.form-control{
  border-radius: 2px;
  box-shadow: none;
}

.btn-unstyled{
  background: transparent;
}

.navbar-brand{
  padding: 10px 0;
  height: 80px;
}

.logo{
  max-width: 100%;
  max-height: 100%;
}

.prototype-warning{
  background-color: $magda-blue;
  color: #fff;
  padding: 5px;
  text-align: center;
  a{
    color: $magda-dark-blue;
    font-weight: 800;
  }
}


input[type=text].form-control{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15)!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 15px;
}

@media (max-width: 768px) {
	body{
		background: #dcdfe1;
	}
  .form-control:focus {
    border: none;
  }

  .navbar-brand{
    padding: 10px 15px;
  }
}


.white-box{
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.media-body{
  h3, h1, h2{
    margin: 0;
  }
}
