
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

.form-control{
  border-radius: 2px;
  box-shadow: none;
}

.btn-unstyled{
  background: transparent;
}

.navbar-brand{
  padding: 10px;
  height: 80px;
}

.logo{
  max-width: 100%;
  max-height: 100%;
}
