.magda-chat-box-drawer.rs-drawer-full {
    width: 100%;
}
.magda-chat-box-drawer {
    .rs-drawer-actions {
        .size-selector-heading {
            padding: 7px 2px 7px 12px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.rs-drawer-sm {
    .magda-chat-box-message-area-body {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.magda-chat-box-message-area-body {
    display: flex;
    flex-direction: column;

    .message-input {
        margin-top: 20px;
    }
    .tool-area-container {
        display: flex;
        justify-content: space-between;
    }
    .send-button-tool-bar {
        margin-top: 10px;
        .send-button {
            float: right;
        }
        .clear-message-button {
            float: left;
        }
    }
    .context-win-selection-area {
        display: flex;
        margin-top: 10px;
        .context-win-selector {
            width: 110px;
            .rs-btn:focus {
                outline: none;
            }
        }
        .context-win-selector-label {
            margin-right: 10px;
            padding-top: 8px;
            font-size: 14px;
            position: relative;
            svg {
                top: 2px;
                left: 2px;
                position: relative;
            }
            .rs-tooltip {
                width: 260px;
                top: -260px !important;
            }
        }
    }
}
