.magda-chat-box-outer-container {
    .rs-loader-content {
        color: black !important;
        font-size: 14px !important;
    }
    .launch-button {
        position: fixed;
        bottom: 100px;
        right: 50px;
        z-index: 10;
        .rs-btn-icon {
            padding: 12px 8px 8px 28px !important;
        }
        .heading {
            font-weight: bold;
        }
        svg {
            position: absolute;
            left: 8px;
            top: 15px;
        }
    }
}
