.magda-chat-box-message-panel {
    flex: 1;
    position: relative;
    .message-panel-loader {
        position: absolute;
        right: 10px;
        bottom: 8px;
    }
    .rs-panel-body {
        height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .rs-list {
        height: 100%;
        overflow-y: scroll;
        border: none;
        box-shadow: initial;
        padding-left: 20px;
        padding-right: 20px;
        .rs-list-item:first-child {
            margin-top: 30px;
        }
        .rs-list-item {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 95%;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 5px;
            pre {
                white-space: break-spaces;
            }
        }
        .rs-list-item.bot-message {
            float: left;
            border-radius: 10px;
            border: none;
            background-color: #e7e7e7;
        }
        .rs-list-item.bot-reasoning-message {
            float: left;
            background-color: rgba(255, 249, 196, 0.8);
            border: 1px dashed #d3d3d3;
            padding: 8px 12px;
            border-radius: 10px;
            font-size: 0.9rem;
            color: #555;
            font-style: italic;
        }
        .rs-list-item.user-message {
            float: right;
            border-radius: 10px;
            border: none;
            background-color: var(--rs-btn-primary-bg);
            pre,
            p {
                color: #f7f7f7;
            }
        }
    }
}
