{
    "compact": false,
    "retainLines": true,
    "minified": false,
    "inputSourceMap": false,
    "sourceMaps": false,
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./dist"],
                "alias": {
                    "magda-typescript-common/src": "@magda/typescript-common/dist",
                    "magda-minion-framework/src": "@magda/minion-framework/dist"
                }
            }
        ]
    ]
}
