image: {}
loaderImage: {}
autoscaler:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
replicas: 1
resources:
  requests:
    cpu: 20m
    memory: 50Mi
  limits:
    cpu: 100m
customPolicyConfigMaps: []