@import "../../variables";

.projects-viewer {
    .projects {
        min-height: 400px;
    }
}

.project-status {
    display: inline-block;
    border-radius: 3px;
    line-height: 10px;
    font-size: 11px;
    padding: 3px;
    &.open {
        border: 1px solid $magda-green;
        color: $magda-green;
    }
    &.closed {
        border: 1px solid $AU-color-foreground-action;
        color: $AU-color-foreground-action;
    }
}
