image: 
  name: "magda-search-api"
  # repository: 
  # tag: 
  # pullPolicy: 
  # pullSecrets: 

defaultImage:
  repository: docker.io/data61
  pullPolicy: IfNotPresent
  pullSecrets: false

autoscaler:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
resources:
  requests:
    cpu: 50m
    memory: 300Mi
  limits:
    cpu: 200m

# -- Manually set dataset index version.
# If not specify, default version will be used.
# you want to manually set this setting when upgrade to a Magda version that involves dataset index version changes.
# As it takes time to rebuild the index, you could use this setting to make search API query existing old version index before the new version index is built.
datasetsIndexVersion:

# -- Manually set region index version.
# If not specify, default version will be used.
# you want to manually set this setting when upgrade to a Magda version that involves region index version changes.
# As it takes time to rebuild the index, you could use this setting to make search API query existing old version index before the new version index is built.
regionsIndexVersion: