.affiliated-organizations {
    &__select-wrapper {
        margin: 1em;
    }
}

.dataset-add-meta-data-pages {
    .people-and-production-page {
        h2 {
            font-size: 38px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.61;
            letter-spacing: normal;
            color: #484848;
            margin-top: 60px;
            margin-bottom: 80px;
        }
        h3 {
            font-size: 29px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.03;
            letter-spacing: normal;
            color: #484848;
        }
    }
}
