.account-admin-page {
    .account-grid {
        width: 98%;
        border-spacing: 1px;
        border: 2px #e7e7e7 solid;
        text-align: center;
        td,
        th {
            border: 1px #e7e7e7 solid;
        }
    }
}
