.create-user-api-key-popup {
    .rs-modal-body {
        padding-left: 3px;
        padding-right: 3px;
        .pagination-container {
            margin-top: 20px;
        }
        .rs-message {
            margin-bottom: 5px;
        }
    }
}
