.my-api-keys-container {
    table {
        td {
            padding: 5px;
        }
    }
    .delete-button {
        position: absolute;
        top: 5px;
        left: 45px;
    }
    .pagination-container {
        margin-top: 10px;
    }
}
