.search-box__form-control {
  height: 50px;
  border-radius: 1px;
  background-color: #ffffff;
  font-size: 18px;
  padding-right: 30px; }

.search-box__input {
  width: 100%;
  position: relative;
  input.form-control{
    padding-right: 50px;
  } }

.search-box {
  position: relative;
  margin-bottom: 20px;
  padding: 0; }


.search-box__icon {
  border-radius: 1px;
  background-color: transparent;
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 53px; }

.search-box .fa {
  vertical-align: bottom;
  font-size: 20px; }

@media (max-width: 768px) {
  .search-box {
    padding-left: 0; } }
