.facet-region__preview {
    height: 270px;
}

.facet-region__preview .map {
    height: 100%;
}

.facet-region.facet-body {
    width: 460px;
    max-width: calc(100vw - 30px);
}

.facet-option__region-type {
    opacity: 0.5;
    font-size: 12px;
    line-height: 20px;
}

.facet-option__region-name {
    opacity: 0.75;
    font-size: 14px;
    line-height: 20px;
}
