.facet-region__preview{
    height: 270px;
    width: 464px;
}

.facet-region__preview .map{
    height: 100%;
}

.facet-region.facet-body {
  width: 496px;
}

.facet-search-box__options .btn-facet-option__location{
    line-height: 1;
    padding: 10px 0;
}

.facet-option__region-type{
  opacity: 0.5;
  font-size: 12px;
  line-height: 20px;
}

.facet-option__region-name{
  opacity: 0.75;
  font-size: 14px;
  line-height: 20px;
}
