@import "../../variables";
.search-facets {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    .search-facet {
        margin-right: 8px;
        position: relative;
        width: 45%;
        @media (min-width: $small) {
            width: auto;
        }
    }
    .mui-form {
        margin-bottom: 0;
    }
    .mui-btn + .mui-btn {
        margin-left: 0;
    }
    .mui-textfield {
        margin-bottom: 0;
    }
    .mui-list--unstyled {
        margin-bottom: 0;
    }
}

.facet-body {
    width: 460px;
    margin-top: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
    border-radius: 2px;
    z-index: 1;
    padding: 0 16px;
    max-width: 100vw;

    @media (min-width: $small) {
        position: absolute;
        &.facet-publisher,
        &.facet-temporal {
            left: 0px;
        }
        &.facet-format,
        &.facet-region {
            right: -40px;
        }
        &.facet-region {
            left: 0;
        }
    }
}

.btn-facet-option {
    width: 100%;
    overflow: hidden;
    margin: 0 0 1px 0;
    padding: 0;
    text-align: left;
    background: transparent;
    height: auto;
    &.is-active,
    &:hover,
    &:focus {
        background-color: rgba(245, 88, 96, 0.1);
        box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.1);
    }
}

.btn-facet-option__volume-indicator {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 10;
}

.btn-facet-option__name {
    font-size: 14px;
    line-height: 20px;
    display: block;
    padding: 16px 0;
    font-weight: 400;
}

.facet-footer {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    margin: 1px -16px;
    button {
        text-transform: none;
        font-weight: 400;
        padding: 0 16px;
        font-size: 16px;
        &:last-child {
            color: #cc3139;
        }
    }
}
