
.result-title{
    font-size: 18px;
    color: #2980b9;
}

.search-results-count{
  font-size: 18px;
	font-weight: bold;
	color: #2b2b2b;
  margin: 15px 0;
  text-transform: uppercase;
  padding: 0 10px;
}

.search-result--publisher{
  color: #95a5a6;
  font-weight: normal;
}

.search-result-dataset-info{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.search-result-dataset-info.is-open{
  max-height: 600px;
}
