
.result-title{
    font-size: 18px;
    color: #2980b9;
}

.search-result{
  background: #fff;
}

.search-results-count{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #2B2B2B ;
  text-transform: uppercase;
	font-weight: 700;
  margin: 15px 0;
}

@media (max-width: 768px) {
  .search-result{
    margin-bottom: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
  }
}
