.search-result{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.result-title{
    font-size: 18px;
    color: #2980b9;
}

.search-results-count{
  font-size: 18px;
	font-weight: bold;
	color: #2b2b2b;
  margin: 15px 0;
  text-transform: uppercase;
}

.search-result--publisher{
  color: #95a5a6;
  font-weight: normal;
}


.search-result--tag{
  display: inline-block;
  margin-right: 8px;
}
