@import "../variables";
.search-results__result {
  background: #fff; }

.search-results__count,
.search-recomendations__count {
  font-family: $font-base;
  font-size: 16px;
  color: #2B2B2B;
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px 0;
  padding: 0 15px; }

.search-recomendations__count {
  font-size: 14px; }
