@import "../../variables";

.homepage-stories {
    .story-title-link:hover {
        color: #494949;
        background-color: #fff;
    }
    .story-title-link {
        border: none;
    }
    .story-box {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 13px;

        .story-title {
            font-size: 24px;
        }

        .story-title-image{
            width: 100%;
            height: auto;
        }

        .story-box-body {
            .markdown {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                line-height: 23px;
                font-size: 16px;
                color: #494949;
            }
        }
    }

}
