<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>admin demo</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
<style>
body {
  min-width: 300px;
  font-family: Courier, Monaco, monospace;
}
div {
  box-sizing: border-box;
}
.inner {
  max-width: 800px;
  margin: 1em auto;
}
</style>
</head>
<body>
  <div class="outer">
    <div class="inner">
      <h1>MAGDA</h1>
    </div>
  </div>
