<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>admin demo</title>
<script>
<%- include( '_head_d3.js' ) %>
</script>
<script>
<%- include( '_head_jsoneditor.js' ) %>
</script>
<script>
<%- include( '_head_babel.js' ) %>
</script>
<style>
<%- include( '_head.css' ) %>
</style>
</head>
<body>
  <div class="outer">
    <div class="inner">
      <h1>MAGDA ADMIN</h1>
    </div>
  </div>
