<%- include( '_head.ejs' ) %>

	<div class="outer">
		<div class="inner" id="body">

    </div>
  </div>


<script type="text/babel" data-presets="es2017">

<%- include( 'admin.js' ) %>

</script>

<%- include( '_tail.ejs' ) %>
