image: 
  name: "magda-storage-api"
  # repository: 
  # tag: 
  # pullPolicy: 
  # imagePullSecret: 

defaultImage:
  repository: docker.io/data61
  pullPolicy: IfNotPresent
  PullSecrets: false

resources:
  requests:
    cpu: 10m
    memory: 30Mi
  limits:
    cpu: 50m

# -- Whether or not auto create `storage-secrets`.
# When auto created, random 20 chars will be generated for `accessKey` and random 40 chars will be generated for `secretKey`.
# When use minio as gateway mode, you might want to manualy generate the secret in order supply cloud provider secrets. e.g.
# <ul>
#   <li>awsAccessKeyId: aws s3 access key id if use AWS s3</li>
#   <li>awsSecretAccessKey: aws s3 secret access key id if use AWS s3</li>
#   <li>gcs_key.json: GCS key file if use google GCS</li>
# </ul>
autoCreateSecrets: true

# -- specify bucket region
# @default -- "unspecified-region"
minioRegion: ""

minio:
  host: "minio"
  port: 9000
  nameOverride: "magda-minio"
  fullnameOverride: "magda-minio"
  existingSecret: "storage-secrets"
  resources:
    requests:
      memory: 256Mi
  persistence:
    size: 10Gi
  DeploymentUpdate:
    type: Recreate

