image: 
  name: "magda-indexer"
  # repository: 
  # tag: 
  # pullPolicy: 
  # pullSecrets: 

reindexJobImage: 
  name: "node"
  repository: "docker.io"
  tag: "14-alpine"
  pullPolicy: IfNotPresent
  pullSecrets: false

defaultImage:
  repository: docker.io/data61
  pullPolicy: IfNotPresent
  pullSecrets: false
  
resources:
  requests:
    cpu: 100m
    memory: 250Mi
  limits:
    cpu: 250m

elasticsearch:
  useGcsSnapshots: false

autoReIndex:
  # -- Whether turn on the cronjob to trigger reindex.
  # `publisher` & `format` indices might contains obsolete records which require the triming / reindex process to be removed.
  enable: true
  # -- auto reindex cronjob schedule string. specified using unix-cron format (in UTC timezone by default).
  # @default -- "0 15 * * 0": 15:00PM UTC timezone (1:00AM in AEST Sydney timezone) on every Sunday
  schedule: "0 15 * * 0"

# -- application config. Allow to configure any application config fields.
# For all available configuration fields and their default values, please refer to [application.conf](https://github.com/magda-io/magda/blob/main/magda-indexer/src/main/resources/application.conf)
# This config field is available since v2.2.5
# Previous versions' obsolete are still supported for backward compatible reason
appConfig:
  http: 
    port: 6103
  elasticSearch:
    serverUrl: elasticsearch://elasticsearch:9200
    shards: 1
    replicas: 0
  authApi:
    baseUrl: http://authorization-api
  registry:
    baseUrl: http://registry-api
    readOnlyBaseUrl: http://registry-api-read-only
    webhookUrl: http://indexer/v0/registry-hook
  indexer:
    readSnapshots: false
    makeSnapshots: false
  akka:
    http:
      server:
        # -- Defines the default time period within which the application has to
        # produce an HttpResponse for any given HttpRequest it received.
        # The timeout begins to run when the *end* of the request has been
        # received, so even potentially long uploads can have a short timeout.
        # Set to `infinite` to completely disable request timeout checking.
        #
        # Make sure this timeout is smaller than the idle-timeout, otherwise,
        # the idle-timeout will kick in first and reset the TCP connection
        # without a response.
        #
        # If this setting is not `infinite` the HTTP server layer attaches a
        # `Timeout-Access` header to the request, which enables programmatic
        # customization of the timeout period and timeout response for each
        # request individually.
        request-timeout: 90s
        # -- The time after which an idle connection will be automatically closed.
        # Set to `infinite` to completely disable idle connection timeouts.
        idle-timeout: 120s
