image: 
  name: "magda-indexer"
  # repository: 
  # tag: 
  # pullPolicy: 
  # pullSecrets: 

reindexJobImage: 
  name: "alpine"
  repository: "docker.io"
  tag: "latest"
  pullPolicy: IfNotPresent
  pullSecrets: false

defaultImage:
  repository: docker.io/data61
  pullPolicy: IfNotPresent
  pullSecrets: false

elasticsearch:
  shards: 1
  replicas: 0
  useGcsSnapshots: false
resources:
  requests:
    cpu: 100m
    memory: 250Mi
  limits:
    cpu: 250m
makeSnapshots: false
readSnapshots: false
autoReIndex:
  # -- Whether turn on the cronjob to trigger reindex.
  # `publisher` & `format` indices might contains obsolete records which require the triming / reindex process to be removed.
  enable: true
  # -- auto reindex cronjob schedule string. specified using unix-cron format (in UTC timezone by default).
  # @default -- "0 15 * * 0": 15:00PM UTC timezone (1:00AM in AEST Sydney timezone) on every Sunday
  schedule: "0 15 * * 0"
