.dataset-info{
  background: #dcdfe1;
  margin: 20px 0 20px 0;
  position: relative;
}

.dataset-info .traingle{
  border-bottom: 10px solid #dcdfe1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  position: absolute;
  top: -10px;
  width: 0;
  bottom: auto;
  left: 10px;
}

.dataset-info-inner{
  padding: 5px 20px 20px 20px;
}

.dataset-info-footer{
  background: rgba(189, 195, 199, 0.15);
  padding: 10px 20px;
}

.dataset-info-inner h5{
  color: #95a5a6;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.dataset-info--download-link .dataset-file-icon{
  display: table-cell;
}

.dataset-info--download-link a{
  display: table-cell;
  padding: 0 0 0 10px;
  vertical-align: middle;
}

.dataset-info--download-link{
  margin-bottom: 10px;
  display: table;
}

.dataset-info-footer--left{
  float: left;
  text-align: left;

}

.dataset-info-footer--left a,
.dataset-info-footer--left button{
  color: #7f8c8d;
  font-size: 18px;
  line-height: 1;
}

.dataset-info-footer--left a:hover,
.dataset-info-footer--left button:hover,
.dataset-info-footer--left a:focus,
.dataset-info-footer--left button:focus{
  color: #3498db;
}

.dataset-info-footer--right{
  float: right;
  text-align: right;
}

.dataset-info-footer--right a{
  background: #3498db;
  border-radius: 2px;
  color: #fff;
}

.dataset-info-footer--right a:hover,
.dataset-info-footer--right a:focus{
  color: #fff;
}

.dataset-info-close-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: 0;
  color: #444;
}

.dataset-info-close-btn--footer{
  background: transparent;
  color: #337ab7;
  border: 0;
  box-shadow: none;
  margin: 0 10px;
}

.dataset-info--content{
  max-height: 400px;
  overflow-y: auto;
}

@media (max-width: 768px) {
	.dataset-info,
  .dataset-info-footer{
		background: #ffffff;
	}
  .dataset-info .traingle{
    display: none;
  }
}
