@import "../variables";
.dataset-details__sidebar{
    margin-top: 40px;
    &>div{
        margin-bottom: 10px;
    }
}

.overview-toggle{
    margin: 0 auto;
    display: block;
    background-color: $magda-grey;
    border-radius: 50%;
    padding: 5px 8px;
}