.dataset-summray{
  padding: 1.5em 0;
  border-bottom: 1px solid #eee;
}

.dataset-summray-title{
  background: transparent;
  font-size: 16px;
  color: #2980B9;
  font-weight: 600;
  padding: 0;
  font-size: 1.2em;
  white-space: normal;
  text-align: left;
  padding-right: 5px;
}


.dataset-summray h1{
  font-size: 1.2em;
}

.dataset-summray h2{
  font-size: 1.1em;
}

.dataset-summray h3{
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.dataset-summray h4{
  font-size: 0.9em;
}

.dataset-summray h5{
  font-size: 0.8em;
}

.dataset-description{
  font-weight: 400;
  font-size: 16px;
  color: #000000 ;
}

.dataset-description > .markdown{
  max-height: 100px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.dataset-description:hover{
  cursor: pointer;
}


.dataset-description > .markdown:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(rgba(255, 255, 255, 0) 50px, #FFF);
}


.dataset-summray.is-expanded .dataset-description > .markdown:before{
  background: rgba(255, 255, 255, 0);
}

.dataset-summray-toggle-info-btn{
  border: 0;
  background: transparent;
  font-size: 18px;
  float: right;
  color: #bbb;
  padding: 2px 10px;
}

.dataset-summray-toggle-info-btn:hover,
.dataset-summray-toggle-info-btn:focus{
  color: #337ab7;
}


.result-header{
  display: table;
  width: 100%;
}

.result-header-left{
  float: left;
  max-width: calc(100% - 55px);
  display: table-cell;
}

.result-header-middle{
  float: left;
  display: table-cell;
}

.result-header-right{
  float: right;
  display: table-cell;
}

.result-header .star-btn{
  padding: 0;
}

.search-result-tags li{
  display: inline-block;
  margin-right: 8px;
}

.search-result-tags li a{
  cursor: pointer;
}


.search-result--tag-toggle{
  background: rgba(255, 255, 255, 0);
  color: #337ab7;
  padding: 0;
  text-decoration: underline;
  vertical-align: baseline;
}

.search-result--publisher{
  font-weight: 400;
  font-size: 16px;
  color: #7F8C8D
}

.dataset-summary-mobile-footer{
  height: 20px;
  margin-bottom: -5px;
  margin-top: 5px;
}

.dataset-summary-mobile-footer .dataset-summray-toggle-info-btn{
  float: left;
  font-size: 20px;
  padding: 0 5px;
  height: 20px;
}

.dataset-summary-mobile-footer .dataset-summray-toggle-info-btn .fa{
  vertical-align: top;
}

@media (max-width: 768px) {
  .dataset-summray{
    padding: 10px 15px;
  }
}
