@import "variables";
@import "./pancake/sass/core.scss";

.facet-header {
    display: flex;
    &.not-empty {
        .btn-facet.format {
            text-transform: uppercase;
        }
        button {
            &,
            &:hover,
            &:focus {
                background: $AU-colordark-background !important;
                color: $AU-colordark-foreground-text !important;
            }
        }
    }

    .btn-remove {
        padding: 4px;
        display: flex;
    }

    button {
        border: 1px solid rgba(73, 73, 73, 0.05);
        border-radius: 2px;
        background-color: $AU-colordark-background;
        font-size: 14px;
        text-align: center;
        padding: 0 16px 0 10px;
        text-transform: capitalize;
        pointer: cursor;
        line-height: 1;
        .facet-icon {
            padding: 6px 6px 4px 0;
        }
        span {
            font-size: 14px;
            vertical-align: top;
            line-height: 35px;
        }
    }
}

.facet-body__header {
    margin-bottom: 10px;
    margin-top: 10px;
}
