.filter-explanation-filter-type {
    text-transform: lowercase;
}

.filter-explanation-heading {
    margin-top: 10px;
    margin-bottom: 12px;
}

.filter-explanation-para.filter-explanation-para {
    margin-top: 15px;
    margin-bottom: 0px;
}
