@import "variables";
@import "./pancake/sass/core.scss";
.region-summary {
    text-align: left;
    z-index: 999;
    background: #fff;
    padding: 6px 0;
    box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.1);
}
