@import "variables";
@import "./pancake/sass/core.scss";
.search-facets-desktop {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
    flex-direction: row;
    flex-wrap: wrap;

    .facet-group {
        display: flex;
        margin-bottom: 8px;
    }
    .search-facet {
        margin-right: 8px;
        position: relative;
        width: 45%;
        @media (min-width: $medium) {
            width: auto;
        }
    }
    .sub-heading {
        width: 100%;
    }
    .au-btn + .au-btn {
        margin-left: 0;
    }
}

.mobile-facet-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.au-btn.filter-toggle-button {
    position: relative;
    color: $AU-color-foreground-action;
    border: 0;
    box-shadow: inset 0 -1px 0 0 rgba(73, 73, 73, 0.15);
    width: 100%;
    text-align: left;
    font-weight: 500;
    line-height: 17px;
    padding: 0 15px;
    height: 50px;
    margin: 0;
    background-color: $AU-color-background;
    text-transform: uppercase;
    img {
        position: absolute;
        display: block;
        right: 8px;
        top: 13px;
    }
    &:hover,
    &:focus {
        background-color: #f7f8fa;
        color: $AU-color-foreground-action;
    }
}
.search-facets-mobile {
    .facet-header .au-btn {
        text-align: left;
        padding: 5px 8px;
        margin: 0;
        height: 45px;
    }
}
.react-autosuggest__suggestions-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
.facet-body {
    margin-top: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
    border-radius: 2px;
    z-index: 1;
    padding: 0 16px;

    @media (min-width: $medium+1) {
        width: 460px;
        max-width: 100vw;
        position: absolute;
        &.facet-publisher {
            left: 0px;
        }
        &.facet-temporal {
            left: 0px;
        }

        &.facet-region {
            right: 0px;
        }
        &.facet-region {
            left: 0;
        }
        &.facet-format {
            right: 0;
            &.facet-left {
                left: 0;
            }
        }
    }
}

.facet-body-buttons {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    @media (min-width: $medium) {
        max-height: calc(180px);
        overflow-y: auto;
    }
}

.facet-option__list {
    margin: 0;
}

.btn-facet {
    @include remove-btn-underline;
}

.btn-facet-option {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 0 1px 0;
    text-align: left;
    height: auto;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    padding: 0 8px;
    cursor: pointer;
    &.is-active,
    &:hover {
        background-color: $AU-color-foreground-action;
        color: $AU-color-background;
    }
}

.btn-facet-option__volume-indicator {
    display: block;
    position: absolute;
    left: 8px;
    bottom: 0px;
    z-index: 10;
}

.btn-facet-option__name {
    font-size: 14px;
    line-height: 20px;
    display: block;
    padding: 8px 0;
    font-weight: 400;

    .facet-format & {
        text-transform: uppercase;
    }
}

.facet-footer {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 0;
    button {
        padding: 0 16px;
    }
}
