$magda-grey: #ecf0f1;
$magda-grey-light: #f7f7f7;
$magda-dark-grey: #888;
$magda-blue: #2980B9;
$magda-dark-blue: #2C3E50;
$magda-green: #16A085;
$magda-red: #c0392b;
$magda-yellow: #f1c40f;
$heading1: 1.4rem;
$heading2: 1rem;
$heading3: 1rem;

$badge-bg: #DADDDE;

$font-base: 'Open Sans', sans-serif;
