$AU-color-foreground-action: #4c2a85;
$AU-color-foreground-focus: #0e0021;
$AU-color-foreground-text: #0e0021;
$AU-color-background: #ffffff;

$AU-colordark-foreground-action: #f7f7f7;
$AU-colordark-foreground-focus: #6b7fd7;
$AU-colordark-foreground-text: #f7f7f7;
$AU-colordark-background: #320e3b;

$header-color-background: transparent;
$header-opacity-desktop-background: 0.9;
$header-color-border: #341039;

$header-color-text: $AU-color-foreground-action;
$header-color-action: $AU-color-foreground-action;
$header-color-action-background: transparent;
$header-color-focus: #fff;
$header-color-focus-background: #341039;

$header-color-mobile-nav-background: white;
$header-color-mobile-nav-border-bottom: #dad9db;
$header-color-mobile-nav-border-left: transparent;
$header-color-mobile-nav-action: $AU-colordark-background;
$header-color-mobile-nav-action-background: transparent;
$header-color-mobile-nav-active: inherit;
$header-color-mobile-nav-active-background: #f4f3f5;
$header-color-mobile-nav-active-border: $AU-colordark-background;
$header-color-mobile-nav-focus: inherit;
$header-color-mobile-nav-focus-background: transparent;
$header-color-mobile-nav-focus-border: transparent;
$header-color-mobile-nav-content: inherit;
$header-color-mobile-nav-content-background: transparent;
$header-color-mobile-nav-content-border-bottom: $AU-color-foreground-action;

$footer-color-background: $AU-colordark-background;
$footer-color-border: $AU-colordark-foreground-focus;
$footer-color-text: $AU-colordark-foreground-text;
$footer-color-action: $AU-colordark-foreground-action;
$footer-color-focus: $AU-colordark-foreground-focus;

$magda-green: #16a085;
$magda-red: #c0392b;
$magda-yellow: #f1c40f;

$banner-text: $AU-color-foreground-text;

$small: 768px;
$medium: 992px;
$large: 1200px;
@import "./pancake/sass/core.scss";
