@import "../pancake/sass/pancake.scss";

$main: #f55860;
$body: #494949;

$magda: $main;
$magda-grey: #ecf0f1;
$magda-grey-light: #f7f7f7;
$magda-dark-grey: #888;
$magda-blue: #2980b9;
$magda-dark-blue: #2c3e50;
$magda-green: #16a085;
$magda-red: #c0392b;
$magda-yellow: #f1c40f;
$success: #145e70;
$banner-text: #48c9f6;

$badge-bg: #daddde;

$font-base: "Rubik", sans-serif;

$small: 768px;
$medium: 992px;
$large: 1200px;
