$AU-color-foreground-action: #726a5c;
$AU-color-foreground-focus: #272727;
$AU-color-foreground-text: #272727;
$AU-color-background: #ffffff;

$AU-colordark-foreground-action: #f2f2f2;
$AU-colordark-foreground-focus: #6b7fd7;
$AU-colordark-foreground-text: #f2f2f2;
$AU-colordark-background: #272727;

$header-color-background: #726a5c;
$header-opacity-desktop-background: 1;
$header-color-border: #726a5c;

$header-color-text: $AU-color-foreground-action;
$header-color-action: #f2f2f2;
$header-color-action-background: transparent;
$header-color-focus: #f2f2f2;
$header-color-focus-background: #272727;

$header-color-mobile-toggle-button-text: #6b7fd7;
$header-color-mobile-nav-background: white;
$header-color-mobile-nav-border-bottom: #dad9db;
$header-color-mobile-nav-border-left: transparent;
$header-color-mobile-nav-action: $AU-colordark-background;
$header-color-mobile-nav-action-background: transparent;
$header-color-mobile-nav-active: inherit;
$header-color-mobile-nav-active-background: #f4f3f5;
$header-color-mobile-nav-active-border: $AU-colordark-background;
$header-color-mobile-nav-focus: #ffffff;
$header-color-mobile-nav-focus-background: #341039;
$header-color-mobile-nav-focus-border: transparent;
$header-color-mobile-nav-content: inherit;
$header-color-mobile-nav-content-background: transparent;
$header-color-mobile-nav-content-border-bottom: $AU-color-foreground-action;

$footer-color-background: #272727;
$footer-color-border: #272727;
$footer-color-text: #f2f2f2;
$footer-color-action: #f2f2f2;
$footer-color-focus: #cac8bf;

$magda-green: #16a085;
$magda-red: #c0392b;
$magda-yellow: #f1c40f;

$banner-text: $AU-color-foreground-text;

$small: 768px;
$medium: 992px;
$large: 1200px;
@import "./pancake/sass/core.scss";
