@import './variables';


.app-container{
  .mui--appbar-right{
    display: flex;
    justify-content: flex-end;
    a{
      line-height: 4;
      padding-right: 16px;
      font-size: 16px;
      color: $body;
    }
  }
  .logo a{
    color: $body;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    .highlight{
      color: $main;
    }
    }
}
