@import 'variables';
html{
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-base;
  font-weight: 400;
  color: $body;
  font-size: 1rem;
}


@keyframes hideMessage {
  0%   { opacity: 1; }
  90%   { opacity: 1; }
  100% { opacity: 0; }
}


.mui-btn{
  font-weight: 400;
  text-transform: none;
}

div{
  box-sizing: border-box;
}

.breadcrumb{
  margin-left: 0;
  padding-left: 0;
  .breadcrumb-item{
    display: inline-block;
    padding-right: 16px;
  }
}
