@import "variables";
@import "./pancake/sass/pancake.scss";
html {
}

.au-body .au-grid {
    p,
    input,
    a,
    span {
        &::selection {
            background: $AU-color-foreground-action;
        }
    }
    a {
        color: $AU-color-foreground-action;
    }

    button.au-btn,
    a.au-btn {
        background: $AU-colordark-background;
        color: $AU-colordark-foreground-text;
    }

    .au-btn.au-btn--primary,
    a.au-btn.au-btn--primary {
        background: $AU-colordark-background;
        color: $AU-colordark-foreground-text;
        border-color: $AU-color-foreground-action;
    }

    .au-btn.au-btn--tertiary,
    a.au-btn.au-btn--tertiary {
        color: $AU-colordark-foreground-focus;
        background: transparent;
        border-color: transparent;
    }

    .au-btn.au-btn--secondary,
    a.au-btn.au-btn--secondary {
        color: $AU-color-foreground-action;
        background: transparent;
        color: $AU-color-foreground-action;
    }

    a,
    button,
    input,
    select,
    textarea {
        &:focus {
            outline-color: $AU-colordark-foreground-focus !important;
        }
    }
}

//need to add these classes for modals as well
form > input,
textarea {
    &:focus {
        outline-color: $AU-colordark-foreground-focus !important;
    }
}

.au-btn:hover:not(:disabled),
a.au-btn:hover:not(:disabled) {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.au-body.au-body--dark,
.au-footer.au-footer--dark {
    border-color: $AU-colordark-foreground-focus !important;
    background: $AU-colordark-background !important;
    color: $AU-colordark-foreground-text !important;
    a,
    button {
        color: $AU-colordark-foreground-action !important;
        &:hover,
        &:focus {
            color: $AU-colordark-foreground-focus !important;
        }
    }
}

@keyframes hideMessage {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.au-btn {
    font-weight: 400;
    text-transform: none;
    &:focus {
        outline: 3px solid $AU-color-foreground-focus;
    }
}

div {
    box-sizing: border-box;
}

.breadcrumb {
    margin-left: 0;
    padding-left: 0;
    .breadcrumb-item {
        display: inline-block;
        padding-right: 16px;
    }
}

a {
}

.tab-navigation {
    .au-link-list {
        display: flex;
    }

    a {
        display: inline-block;
        padding: 1rem 1rem;
        border-bottom: 5px solid #cfcfcf;
        &:hover,
        &:focus {
            text-decoration: underline;
            color: $AU-color-foreground-action;
        }
    }
    a.mainmenu--active {
        color: $AU-color-foreground-action;
        border-color: $AU-color-foreground-action;
    }
}

.hidden-sm {
    @media (max-width: $medium) {
        display: none !important;
    }
}

.au-btn + .au-btn {
    margin-left: 0;
}

.list--unstyled {
    padding-left: 0;
    list-style: none;
}

// gold starts here

h1 {
    @include AU-fontgrid(xl, heading);
    font-weight: 400;
}

h2 {
    @include AU-fontgrid(lg, heading);
    font-weight: 400;
}

h3 {
    @include AU-fontgrid(md, heading);
    font-weight: 400;
}

h4 {
    @include AU-fontgrid(sm, heading);
    font-weight: 400;
}

.au-text-input {
    border: 3px solid $AU-color-foreground-action;
}

.au-body ::selection {
    background: $AU-color-foreground-action !important;
    color: $AU-colordark-foreground-text !important;
}

.au-link {
    background: #ffffff;
}

.au-page-alerts {
    h3 {
        margin: 0;
    }
}
