.currency-alert {
    p {
        div {
            padding-top: 10px;
            padding-left: 20px;
        }
        ul {
            margin-top: 0px !important;
            li {
                margin-top: 0px !important;
            }
        }
    }
}
