@import "variables";
@import "./pancake/sass/core.scss";

.record--dataset {
    .au-page-alerts {
        p {
            max-width: none;
        }
    }
    .dataset-edit-button-container {
        position: relative;
        .edit-button-tooltip-container {
            position: absolute;
            left: 110px;
            .tooltip-launcher-text {
                cursor: default;
            }
            .tooltiptext {
                width: 300px;
                left: 52px;
            }
        }
    }
}

.dataset-details {
    h3.section-heading {
        @include AU-fontgrid(lg, heading);
        margin-bottom: 10px;
        margin-top: 3rem;
        font-weight: 300;
    }

    .au-page-alerts {
        h3,
        p {
            margin: 3px;
        }
        .switch-tab-btn {
            border: 0;
            border-bottom: 1px solid $magda-red;
            padding-bottom: 4px;
            text-decoration: none;
            color: $magda-red;
            font-size: 1rem;
            padding: 0;
            &:hover,
            &:focus {
                cursor: pointer;
            }
        }
    }
}

.publisher-basic-info-row {
    line-height: 1.8;
    .publisher {
        color: $AU-colordark-background;
        a {
            border-bottom: 1px solid rgba($AU-color-foreground-action, 0.5);
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: $AU-colordark-foreground-action;
            }
        }
    }
}

.dataset-details-source {
    .markdown a {
        font-weight: 500;
    }
    .landing-page {
        color: $AU-color-foreground-action;
        word-wrap: break-word;
        &:hover {
            color: $AU-color-foreground-focus;
        }
    }
}

.dataset-details-overview {
    margin-top: 20px;
    line-height: 19px;

    .markdown {
        opacity: 0.75;
    }
}

.quality-rating-box {
    margin: 20px 0;
    .tooltip {
        line-height: 2rem;
    }

    .title {
        color: #535353;
    }
}

.ask-question-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 0.8rem 1rem;
}

.dataset-title {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 16px;
}

.form-margin {
    margin-bottom: 30px;
}

.distribution-title {
    display: inline-flex;
}

.distribution-meta {
    display: flex;
    margin-bottom: 0.5em;
}

.distribution-props {
    display: inherit;
}

.distribution-download-button {
    @include remove-btn-underline;

    margin-top: 1em;
    margin-bottom: 1em;
}

.download-button {
    @include remove-btn-underline;
}

.au-btn .distribution-button-icon {
    vertical-align: -2px;
}

.distribution-format {
    display: inline;
}

.distribution-license {
    display: inline;
}

.distribution-icon {
    margin-right: 0.75em;
}

.record--distribution,
.record--dataset {
    .separator {
        opacity: 0.25;
        color: $AU-color-foreground-action;
        margin: 0;
        display: inline;
        padding-left: 8px;
        padding-right: 8px;
    }
}
