@import "../../variables";

.dataset-summary {
    height: auto;
    clear: both;
    .dataset-summary-title {
        font-size: 20px;
        line-height: 29px;
        font-weight: 300;
        margin-bottom: 8px;
        border: none;
    }

    .dataset-summary-publisher {
        opacity: 0.75;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 17px;
    }

    .dataset-summary-description {
        opacity: 0.5;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
        overflow: hidden;
        h1,
        h2,
        h3,
        h4 {
            margin: 0 0 10px;
            font-size: inherit;
            line-height: inherit;
        }
    }

    .dataset-summary-meta {
        font-size: 14px;
        line-height: 16px;
        color: $body;
        clear: both;
    }

    .dataset-summary-updated,
    .dataset-summary-quality {
        margin-right: 24px;
    }

    .dataset-summary-downloads,
    .dataset-summary-updated,
    .dataset-summary-quality {
        float: left;
    }

    .dataset-summary-downloads {
        margin-right: 16px;
        span {
            color: #cc3139;
            font-size: 14px;
            line-height: 16px;
            display: inline-block;
            padding-right: 5px;
            &:after {
                content: "/";
                display: inline-block;
                padding-left: 2px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }

    .dataset-summary-quality {
        position: relative;
        .dataset-summary-quality-help {
            position: absolute;
            left: 150px;
            top: -5px;
        }
    }

    .dataset-summary-quality-help-tooltip {
        background: #ffffff !important;
        padding: 16px 19px !important;
        font-size: 14px !important;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
            0px 3px 6px rgba(0, 0, 0, 0.23);
        opacity: 1 !important;
        pointer-events: auto !important;
        a{
            border: 0px;
        }
    }
    .dataset-summary-quality-help-tooltip:after {
        position: absolute;
        top: 42px;
        margin-left: -14px !important;
        width: 12px !important;
        height: 6px !important;
        border: none !important;
        background-color: #fff;
    }

    .dataset-summary-quality-help-tooltip:before {
        position: absolute;
        top: 44px;
        margin-left: -4px !important;
        width: 8px !important;
        height: 8px !important;
        border: none !important;
        background-color: #fff;
        transform: rotate(45deg);
        box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.5);
    }
}
