@import '../../variables';

.dataset-summary{
  height: auto;
  clear: both;
  .dataset-summary-title{
    	color: $body;
      font-size: 20px;
      line-height: 29px;
      font-weight: 300;
      margin-bottom: 8px;
  }

  .dataset-summary-publisher{
    opacity: 0.75;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 17px;
  }

  .dataset-summary-description{
    opacity: 0.5;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    h1, h2, h3, h4 {
      margin: 0 0 10px;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .dataset-summary-meta{
    font-size: 14px;
    line-height: 16px;
    color: rgba($body, 0.5);
    clear: both;
  }

  .dataset-summary-updated,
  .dataset-summary-quality{
    margin-right: 24px;
  }

  .dataset-summary-downloads,
  .dataset-summary-updated,
  .dataset-summary-quality{
      float: left;
  }


  .dataset-summary-downloads{
    span{
      	color: #CC3139;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        padding-right: 5px;
        &:after{
          content: '/';
          display: inline-block;
          padding-left: 2px;
        }
        &:last-child:after{
          content: '';
        }
    }
  }
}
