@import "variables";
@import "./pancake/sass/core.scss";

.search {
    .sub-heading {
        margin-top: 10px;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 500;
        @media (max-width: $medium) {
            margin-bottom: 0;
            padding: 0 8px;
        }
    }
}
