@import "../../variables";

.dataset-summary {
    height: auto;
    clear: both;
    a {
        text-decoration: none;
        &:hover,
        &:focus {
            color: $body;
            background: transparent;
            border-bottom: solid 1px #ffffff;
        }
    }
    .dataset-summary-title {
        @include AU-fontgrid(md);
        font-weight: 300;
        margin-bottom: 8px;
    }

    .dataset-summary-publisher {
        opacity: 0.75;
        @include AU-fontgrid(xs);
        margin-bottom: 5px;
        display: inline-block;
    }

    .dataset-summary-description {
        opacity: 0.5;
        @include AU-fontgrid(xs);
        margin-bottom: 8px;
        overflow: hidden;
        h1,
        h2,
        h3,
        h4 {
            margin: 0 0 10px;
        }
    }

    .dataset-summary-meta {
        @include AU-fontgrid(xs);
        color: rgba($body, 0.5);
        clear: both;
    }

    .dataset-summary-updated,
    .dataset-summary-quality {
        margin-right: 24px;
    }

    .dataset-summary-downloads {
        span {
            color: $AU-color-foreground-action;
            @include AU-fontgrid(xs);
            display: inline-block;
            padding-right: 5px;
            &:after {
                content: "/";
                display: inline-block;
                padding-left: 2px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }

    .dataset-summary-downloads,
    .dataset-summary-updated,
    .dataset-summary-quality {
        float: left;
        line-height: 1.5em;
    }
}
