@import "../../variables";

.dataset-details {
    h3 {
        color: $AU-color-foreground-action;
        @include AU-fontgrid(lg, heading);
        margin-bottom: 10px;
        margin-top: 3rem;
    }
}

.publisher-basic-info-row {
    @include AU-fontgrid(sm);
    .publisher {
        color: $AU-color-foreground-action;
    }
    .updated-date {
        color: $AU-color-foreground-action;
    }

    .separator {
        opacity: 0.25;
        color: $AU-color-foreground-action;
    }
}

.dataset-details-source {
    .markdown a {
        font-weight: 500;
    }
    .landing-page {
        color: $AU-color-foreground-action;
        &:hover {
            color: $AU-color-foreground-focus;
        }
    }
}

.dataset-details-overview {
    margin-top: 20px;
    line-height: 19px;

    .markdown {
        opacity: 0.75;
    }
}

.quality-rating-box {
    margin-top: 20px;
    margin-bottom: 20px;

    span {
        color: #535353;
    }
}

.dataset-details-files-apis {
}

.quality-rating-box {
    margin: 20px 0;
}
