@import "../../variables";

.dataset-summary {
    .divider {
        float: left;
    }
    height: auto;
    clear: both;
    .dataset-summary-title {
        @include AU-fontgrid(md);

        color: $AU-color-foreground-action;
        font-weight: 300;
        margin-bottom: 0;
        a {
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: underline;
                color: $AU-color-foreground-focus;
            }
        }
    }

    a.dataset-summary-publisher {
        opacity: 0.75;
        @include AU-fontgrid(xs);
        margin-bottom: 5px;
        display: inline-block;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .dataset-summary-description {
        @include AU-fontgrid(xs);
        margin-bottom: 8px;
        overflow: hidden;
        h1,
        h2,
        h3,
        h4 {
            margin: 0 0 10px;
        }
    }

    .dataset-summary-meta {
        @include AU-fontgrid(xs);
        clear: both;
    }

    .dataset-summary-downloads {
        span {
            @include AU-fontgrid(xs);
            display: inline-block;
            padding-right: 5px;
            &:after {
                content: "/";
                display: inline-block;
                padding-left: 2px;
            }
            &:last-child:after {
                content: "";
            }
        }
        img {
            vertical-align: text-top;
            height: 16px;
            width: 16px;
        }
    }

    .dataset-summary-downloads,
    .dataset-summary-updated,
    .dataset-summary-quality,
    .dataset-summary-type {
        float: left;
        line-height: 1.5rem;
    }

    .dataset-summary-quality .tooltip {
        line-height: 1.8rem;
    }
}
