@import "../../variables";

.dataset-summary {
    height: auto;
    clear: both;
    .dataset-summary-title {
        @include AU-fontgrid(md);
        font-weight: 300;
        margin-bottom: 8px;
    }

    .dataset-summary-publisher {
        opacity: 0.75;
        @include AU-fontgrid(xs);
        margin-bottom: 5px;
    }

    .dataset-summary-description {
        opacity: 0.5;
        @include AU-fontgrid(xs);
        margin-bottom: 8px;
        overflow: hidden;
        h1,
        h2,
        h3,
        h4 {
            margin: 0 0 10px;
        }
    }

    .dataset-summary-meta {
        @include AU-fontgrid(xs);
        color: rgba($body, 0.5);
        clear: both;
    }

    .dataset-summary-updated,
    .dataset-summary-quality {
        margin-right: 24px;
    }

    .dataset-summary-downloads,
    .dataset-summary-updated,
    .dataset-summary-quality {
        float: left;
    }

    .dataset-summary-downloads {
        span {
            color: #cc3139;
            @include AU-fontgrid(xs);
            display: inline-block;
            padding-right: 5px;
            &:after {
                content: "/";
                display: inline-block;
                padding-left: 2px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
}
