@import "../../variables";

.ask-dataset-form {
    padding: 10px;
    border: solid;
    border-color: $AU-color-foreground-focus;
    background-color: $AU-colordark-foreground-action;
    overflow: -webkit-paged-y;
    position: relative;
    float: right;
    width: 800px;
}

@media only screen and (max-width: 1200px) {
    .ask-dataset-form-responsive {
        max-width: 700px !important;
    }
}

.correspondence-dataset-close-button {
    height: 2em;
    width: 2em;
    position: absolute;
    top: 2px;
    right: 2px;
    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: $small) {
    .dataset-correspondence-container {
        display: inline-block;
        margin-top: 1rem;
    }
    .ask-dataset-form-responsive {
        width: auto;
        float: none;
        overflow-y: auto;
    }
}

.page-blur {
    filter: blur(1.5px);
}
