@import '../../variables';
.record-details__sidebar{
  margin-bottom: 10px;
}

.dataset-details__body{
  margin-bottom: 40px;
}

.dataset-discussion{
  padding-top: 20px;
  padding-bottom: 20px;
}


.section-heading{
  font-weight: 400;
  color: $magda-dark-grey;
}

.publisher-basic-info-row{
    .publisher {
        color: #CC3139;
        font-size: 18px;
        line-height: 22px;
    }
    
    .updated-date {
        color: #494949;
        font-size: 18px;
        line-height: 22px;
    }

    .separator {
        opacity: 0.25;
        color: #494949;
        font-size: 18px;
        line-height: 22px;
    }
}



.tags{
  .badge{
    display: block;
  }
}

.temporal-aspect-viewer{
  th{
    font-weight: 400;
  }
}

.tab-content{
  margin-bottom: 24px;
}

.dataset-details-overview {
    margin-top: 20px;
    opacity: 0.75;
    font-size: 16px;
    line-height: 23px;
}