@import '../../variables';
.record-details__sidebar{
    margin-top: 47px;
    &>div{
        margin-bottom: 10px;
    }
}

.overview-toggle{
    margin: 10px auto 0 auto;
    display: block;
    background-color: $magda-grey;
    border-radius: 50%;
    padding: 5px 8px;
}

.dataset-discussion{
  padding-top: 20px;
  padding-bottom: 20px;
}


.section-heading{
  font-weight: 400;
  color: $magda-dark-grey;
}

.publisher{
  color: #888;
  font-weight: bold;
}

.preview-toggle{
  float: right;
  background: transparent;
  border: none;
  padding: 0;
  color: $magda-blue;
  &:hover{
    background: transparent;
  }
}
