apiVersion: v2
description: |
  The combined database target module for Magda. 
  Unless you attempt to run logical DBs over seperate physical DBs (via `global.useInK8sDbInstance.xxx`), 
  you should always enable this module (even when you use cloud based DB service e.g. AWS RDS or Google Cloud SQL).
name: combined-db
version: 5.3.0
kubeVersion: ">= 1.14.0-0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "5.3.0"
    repository: "file://../magda-postgres"
    condition: global.useCombinedDb
