apiVersion: v2
description: A Helm chart for Kubernetes
name: combined-db
version: 1.1.0-arm64.0
kubeVersion: ">= 1.14.0-0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "1.1.0-arm64.0"
    repository: "file://../magda-postgres"
    condition: global.useCombinedDb
