apiVersion: v2
description: A Helm chart for Kubernetes
name: combined-db
version: 2.2.6
kubeVersion: ">= 1.14.0-0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "2.2.6"
    repository: "file://../magda-postgres"
    condition: global.useCombinedDb
