apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-api-node
spec:
  replicas: {{ .Values.replicas | default 1 }}
  strategy:
    rollingUpdate:
      maxUnavailable: {{ .Values.global.rollingUpdate.maxUnavailable | default 0 }}
  selector:
    matchLabels:
      service: search-api-node
  template:
    metadata:
      labels:
        service: search-api-node
    spec:
{{- if and (.Capabilities.APIVersions.Has "scheduling.k8s.io/v1beta1") .Values.global.enablePriorityClass }}
      priorityClassName: magda-8
{{- end }}
      containers:
      - name: search-api-node
        image: {{ template "dockerimage" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.image.pullPolicy }}
        command: [
            "node",
            "/usr/src/app/component/dist/index.js",
            "--listenPort", "80",
            "--elasticSearchUrl", "http://elasticsearch:9200",
{{- if .Values.datasetsIndexVersion }}
            "--datasetsIndexId", {{ .Values.datasetsIndexVersion | quote }},
{{- end }}
{{- if .Values.regionsIndexVersion }}
            "--regionsIndexId", {{ .Values.regionsIndexVersion | quote }},
{{- end }}
{{- if .Values.publishersIndexVersion }}
            "--publishersIndexId", {{ .Values.publishersIndexVersion | quote }},
{{- end }}
        ]
{{- if .Values.global.enableLivenessProbes }}
        livenessProbe:
          httpGet:
            path: /v0/status/live
            port: 80
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /v0/status/ready
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 10
{{- end }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        env:
        - name: NODE_ENV
          value: production
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: jwt-secret
