@import "variables";

.end-preview-page {
    background-color: $AU-color-preview;
}

.end-preview-container-1 {
    display: block;
    margin-left: 450px;
    margin-right: auto;
    width: 40%;
}

.end-preview-container-2 {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    width: 50%;
}

// .draft-image-icon {
//     margin-left: 1000px;
//     width: 300px;
//     height: 30px;
//     justify-content: left;
//     display: flex;
// }
