@import "variables";

.giant-tick {
    justify-content: "center";
    display: "flex";
    margin-left: 20px;
    margin-top: 20px;
}

.end-preview-page-1 {
    background-color: $AU-color-preview;
}

.end-preview-container-1 {
    display: block;
    margin-left: 450px;
    margin-right: auto;
    width: 40%;
    margin-bottom: 50px;
}

.end-preview-container-2 {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}

.end-preview-page-2 {
    background-color: #fbfbfb;
}

.draft-image-icon {
    justify-content: left;
    display: flex;
    margin-left: 10px;
    height: 50px;
    width: 70px;
    size: 300px;
    margin-top: -30px;
}

.print-icon {
    justify-content: left;
    display: flex;
    height: 40px;
    width: 50px;
    margin-left: 20px;
    margin-top: -20px;
}

.end-preview-button {
    margin-left: 350px;
    width: 400px !important;
    height: 120px !important;
}

.dataset-status-txt {
    font-size: 14px;
    margin-left: 30px !important;
}

.draft-dataset-btn {
    margin-top: 50px;
}

.draft-dataset-txt {
    margin-top: -30px !important;
}

.print-metadata-btn {
    margin-top: 10px;
}

.print-metadata-txt {
    font-size: 16px;
    margin-top: -30px !important;
    margin-left: 40px !important;
}
