@import "variables";

.end-preview-page-1 {
    background-color: $AU-color-preview;
    text-align: center;
}

.end-preview-container-1 {
    margin: 80px auto 50px auto;
    text-align: center;
}

.end-preview-container-2 {
    max-width: 35rem;
    margin: 0 auto 50px auto;
}

.end-preview-page-2 {
    text-align: center;
    padding-top: 1rem;
    .data-management-image-icon {
        font-size: 50px;
        position: absolute;
        left: 40px;
    }
    .button-text {
        text-decoration: none;
        font-size: 22px;
    }
}

.draft-image-icon {
    position: absolute;
    height: 70px;
    left: 31px;
}

.print-icon {
    position: absolute;
    height: 55px;
    left: 40px;
}

.end-preview-heading {
    font-size: 3.5rem;
}

.end-preview-subheading {
    font-size: 2.2rem;
}

.dataset-add-meta-data-pages .end-preview-button.end-preview-button {
    text-align: left;
    line-height: 1.3rem;
    height: 8rem;
    margin: 1rem auto 1rem auto;
    padding: 0 3rem 0 8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.dataset-status-txt.dataset-status-txt {
    margin-top: 4rem;
    margin-bottom: 6rem;
}
