.dataset-add-meta-data-pages {
    .review-page {
        h2 {
            font-size: 38px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.61;
            letter-spacing: -0.1px;
            color: #30384d;
            margin-top: 58px;
            margin-bottom: 62px;
        }
        .top-tooltip {
            .tooltip-content {
                font-size: 14px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.57;
                letter-spacing: -0.1px;
                color: #636363;
            }
        }
    }
}
