image: {}
auth: {}
service:
  type: NodePort
  externalPort: 80
  internalPort: 80

autoscaler:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

enableAuthEndpoint: false
enableWebAccessControl: false
enableCkanRedirection: false

helmet:
  frameguard: false

resources:
  requests:
    cpu: 50m
    memory: 40Mi
  limits:
    cpu: 200m

defaultRoutes:
  search:
    to: http://search-api/v0
    auth: true
  registry:
    to: http://registry-api/v0
    auth: true
  registry-read-only:
    to: http://registry-api-read-only/v0
    auth: true
  registry-auth: #left here for legacy reasons - use /registry
    to: http://registry-api/v0
    auth: true
  auth:
    to: http://authorization-api/v0/public
    auth: true
  opa:
    to: http://authorization-api/v0/opa
    auth: true
    statusCheck: false
  admin:
    to: http://admin-api/v0
    auth: true
  content:
    to: http://content-api/v0
    auth: true
  storage:
    to: http://storage-api/v0
    auth: true
  correspondence:
    to: http://correspondence-api/v0/public
  apidocs:
    to: http://apidocs-server/
    redirectTrailingSlash: true
  tenant:
    to: http://tenant-api/v0
    auth: true
  openfaas:
    to: http://gateway.openfaas.svc.cluster.local:8080

webRoutes: {}

csp:
  browserSniff: false
  directives:
    scriptSrc:
    - "''self''"
    - "''unsafe-inline''"
    - browser-update.org
    - "blob:"
    objectSrc:
    - "''none''"
    workerSrc:
    - "''self''"
    - "blob:"

cors:
  exposedHeaders:
  - "Content-Range"
  - "X-Content-Range"
