apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-api
spec:
  strategy:
    rollingUpdate:
      maxUnavailable: {{ .Values.global.rollingUpdate.maxUnavailable | default 0 }}
  selector:
    matchLabels:
      service: admin-api
  template:
    metadata:
      labels:
        service: admin-api
    spec:
{{- if and (.Capabilities.APIVersions.Has "scheduling.k8s.io/v1beta1") .Values.global.enablePriorityClass }}
      priorityClassName: magda-7
{{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name | default "magda-admin-api-service-account" }}
      containers:
      - name: admin-api
        image: {{ template "dockerimage" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.image.pullPolicy }}
        command: [
            "node",
            "/usr/src/app/component/dist/index.js",
            "--listenPort", "80",
            "--dockerRepo", {{ .Values.global.image.repository | quote }},
            "--authApiUrl", "http://authorization-api/v0",
            "--registryApiUrl", "http://registry-api/v0",
            "--imageTag", {{ .Values.image.tag | default .Values.global.image.tag | default .Chart.Version }},
            "--pullPolicy", {{ .Values.global.image.pullPolicy }},
            "--kubernetesApiType", "cluster",
            "--userId", {{ .Values.global.defaultAdminUserId | quote }},
            "--namespace", {{ .Values.namespace | default .Release.Namespace }}
        ]
{{- if .Values.global.enableLivenessProbes }}
        livenessProbe:
          httpGet:
            path: /v0/status/live
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /v0/status/ready
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 10
{{- end }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        env:
        - name: NODE_ENV
          value: production
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: jwt-secret
