apiVersion: v2
description: A Helm chart for Kubernetes
name: authorization-db
version: 5.0.0
kubeVersion: ">= 1.14.0-0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "5.0.0"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.authorization-db
