<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender" neverBlock="true">
        <appender-ref ref="STDOUT" />
    </appender>

    <!-- Mute debug message from logback itself-->
    <logger name="ch.qos.logback" level="ERROR" />
    <!-- Mute debug message from elastic4s-->
    <logger name="com.sksamuel" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>

</configuration>
