.facet-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #2B2B2B ;
  text-transform: uppercase;
	font-weight: 700;
  margin: 15px 0;
}

.facet-header{
  position: relative;
}

.facet-header .btn-reset{
  position: absolute;
  right: 0;
  top: 3px;
  padding-right: 0;
}
