.facet-wrapper{
    margin-bottom: 30px;
    position: relative;
}


.facet-wrapper .btn{
   border: 0;
   box-shadow: 0;
}

.facet-wrapper .btn-reset{
  padding-right: 0px;
}

.facet-wrapper .btn-reset, .facet-wrapper .btn-toggle-expand{
    color: rgb(102, 181, 252);
    line-height: 2;
    font-weight: 600;
    background: transparent;
}


.btn-facet-option{
   width: 100%;
   overflow: hidden;
   text-align: left;
   margin: 0 0 1px 0;
   color: #777;
   border-radius: 2px;
   position: relative;
   padding: 0;
   line-height: 2.3;
   background: transparent;
}

.btn-facet-option__volume-indicator{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #ECF0F1;
  z-index: -1;
}

.btn-facet-option:hover,
.btn-facet-option:focus {
  font-weight: 600;
}

.btn-facet-option:hover{
  background: rgba(0, 0, 0, 0.1);
}

.btn-facet-option__action{
  display: none;
  padding: 2px;
  width: 30px;
  float: right;
  background: #27AE60;
  float: right;
  text-align: center;
}

.btn-facet-option.is-active .btn-facet-option__action{
  display: block;
  background: #3498DB;
}

.btn-facet-option.is-active:hover .btn-facet-option__action,
.btn-facet-option.is-active:focus .btn-facet-option__action{
  background: #E74C3C;
}


.btn-facet-option:hover .btn-facet-option__action,
.btn-facet-option:focus .btn-facet-option__action{
  display: block;
}



.btn-facet-option.is-active{
    background: #3498DB;
    color: #fff;
}



.btn-facet-option.is-active:hover{

}

.btn-facet-option .fa{
    line-height: 1.5;
    color: #fff;
}

.btn-facet-option__name{
    display: block;
    width: calc(100% - 70px);
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 5px 2px 12px;
}

.btn-facet-option__detail {
  font-size: small;
  color: #999;
  padding: 0px 0px 0px 12px;
}

.btn-facet-option__location {
  line-height: initial;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-facet-option__location .btn-facet-option__name{
  width: calc(100% - 50px);
  float: none;
  display: inline;
  padding: 2px 0px 2px 12px;
}


.btn-facet-option__count{
    display: block;
    width: 40px;
    float: right;
    text-align: right;
    padding: 2px 5px;
    font-weight: 600;
    color: #2b2b2b;
}

.btn-facet-option.is-active .btn-facet-option__count{
  color: #fff;
}

.btn-facet-option__recomended-badge{
  color: red;
  font-size: 10px;
  vertical-align: baseline;
  display: inline-block;
  padding-left: 3px;
}

.map{
    height: 200px;
    margin-top: 10px;
}

.map .leaflet-control-attribution{
    display: none;
}

.drag-bar__inner{
  position: relative;
  background: #f5f5f5;
  width: 30px;
}

.drag-bar__inner i{
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
}

.drag-bar__inner .bar{
  left: 0;
  right: 0;
  position: absolute;
}

.drag-bar__inner .handle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  background: #3498db;
  cursor: pointer;
}

.drag-bar__inner .handle:hover{
  background: #a0cfee;
}

.drag-bar__inner .bar{
  background: #8ac4ea;
}

svg{
  display: block;
  background: #f5f5f5;
}

.facet-wrapper-region--summray{
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
}

.facet-wrapper-region--summray span{
  padding: 5px 10px;
  display: block;
  background-color: #3498db;
  padding-right: 30px;
  color: #fff;
  border-radius: 2px;
}

.facet-wrapper-region--summray .btn{
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 12px;
  color: #fff;
  line-height: 1;
}


.other-options{

}

.active-options{
  margin-bottom: 7px;
}
