@import "../variables";
.facet-header__title{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 15px;
  background: $magda-grey;
  text-align: left;
  .caret{
    margin-left: 3px;
  }
}