.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3); }

.popup__inner {
  position: relative;
  margin: 10vh auto;
  height: 80vh;
  width: 80vw;
  max-width: 780px;
  max-height: 780px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background: #fff; }

.popup__body {
  height: calc(100% - 100px);
  width: 100%;
  padding: 10px 20px;
  position: relative; }

.popup__map {
  height: calc(100% - 50px);
  width: 100%; }

.popup__footer {
  padding: 0 20px; }

.popup__header {
  background: #dcdfe1; }

.popup__footer .btn {
  float: right; }

.popup__done-btn,
.popup__cancel-btn {
  background: #3498db;
  color: #fff;
  border-radius: 1px; }

.popup__cancel-btn {
  background: #7f8c8d;
  margin-left: 10px; }

.popup__close-btn {
  text-align: right;
  padding: 6px 6px;
  float: right;
  line-height: 2;
  background: rgba(255, 255, 255, 0); }

.popup .active-region {
  position: absolute;
  z-index: 999;
  left: 20px;
  right: 20px; }
