@import "../variables";
.search-facets{
    .search-facet{
        padding-right: 0;
    }
    .btn-reset{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.facet-body{
    width: 300px;
    overflow: hidden;
    max-width: 100vw;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    background: #fff;
    border: 1px solid #f5f5f5;
    position: absolute;
    z-index: 1;
}

.facet-body__header{
    position: relative;
    border-bottom: 1px solid $magda-grey;
}


.facet-wrapper{
    margin-bottom: 30px;
    position: relative;
}

.facet-wrapper .btn{
   box-shadow: 0;
}

.facet-wrapper .btn-reset,
.facet-wrapper .btn-toggle-expand{
    color: rgb(102, 181, 252);
    line-height: 2;
    font-weight: 600;
    background: transparent;
}


.btn-facet-option{
   width: 100%;
   overflow: hidden;
   text-align: left;
   margin: 0 0 1px 0;
   color: #777;
   border-radius: 2px;
   position: relative;
   line-height: 2.3;
   background: transparent;
   padding: 0 0 0 40px;
}

.btn-facet-option__volume-indicator{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #dcdfe1;
  z-index: -1;
}

.btn-facet-option:hover,
.btn-facet-option:focus {
  font-weight: 600;
}

.btn-facet-option:hover{
  background: rgba(0, 0, 0, 0.1);
}

.btn-facet-option__action{
  display: none;
  padding: 2px;
  width: 30px;
  background: transparent;
  text-align: center;
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
}

.btn-facet-option.is-active .btn-facet-option__action{
  display: block;
}

.btn-facet-option.is-active:hover .btn-facet-option__action,
.btn-facet-option.is-active:focus .btn-facet-option__action{
}


.btn-facet-option:hover .btn-facet-option__action,
.btn-facet-option:focus .btn-facet-option__action{
  display: block;
}

.btn-facet-option.is-active{
    background: #3498DB;
    color: #fff;
}

.btn-facet-option .fa{
    line-height: 1.5;
    color: #fff;
}

.btn-facet-option__name{
    display: block;
    width: calc(100% - 70px);
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-facet-option__detail {
  font-size: small;
  color: #999;
  padding: 0px 0px 0px 12px;
}

.btn-facet-option__location {
  line-height: initial;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-facet-option__location .btn-facet-option__name{
  width: calc(100% - 50px);
  float: none;
  display: inline;
  padding: 2px 0px 2px 12px;
}


.btn-facet-option__count{
    display: block;
    width: 40px;
    float: right;
    text-align: right;
    padding: 2px 5px;
    font-weight: 600;
    color: #2b2b2b;
}

.btn-facet-option.is-active .btn-facet-option__count{
  color: #fff;
}

.btn-facet-option__recomended-badge{
  color: red;
  font-size: 10px;
  vertical-align: baseline;
  display: inline-block;
  padding-left: 3px;
}
