tags:
  all: true
  connectors: false
  minion-broken-link: false
  minion-linked-data-rating: false
  minion-visualization: false
  minion-format: false
  minion-ckan-exporter: false

global:
  connectors:
    includeInitialJobs: false
    includeCronJobs: true
  openfaas:
    # turn on / off openfaas
    # All openfaas dependents should check this field to decide deployment logic (`tags` unfortunately not available to ).
    # They choose to simply not deploy or prompt an error message via [helm required function](https://helm.sh/docs/howto/charts_tips_and_tricks/#know-your-template-functions)
    enabled: true 
    namespacePrefix: ""
    functionNamespace: openfaas-fn  # Default namespace for functions
    mainNamespace: openfaas # Default namespace for gateway and other core modules
    allowAdminOnly: true # Only allow logged-in Admin to access openfaas gateway
    secrets:
      authSecrets: true

openfaas:
  operator: 
    create: true
  serviceType: ClusterIP
  basic_auth: false
  ingress:
    enabled: false
  faasnetes:
    readTimeout: 120s
    writeTimeout: 120s
    imagePullPolicy: IfNotPresent
  gateway:
    scaleFromZero: true
    readTimeout: 125s
    writeTimeout: 125s
    upstreamTimeout: 120s
  faasIdler:
    dryRun: false

ckan-connector-functions:
  includeInitialJobs: false
  includeCronJobs: false
  createFunction: true
  createConfigMap: false