tags:
  all: true
  connectors: false
  minion-broken-link: false
  minion-linked-data-rating: true
  minion-visualization: true
  minion-format: true
  minion-ckan-exporter: false
  pdf-semantic-indexer: true
  csv-semantic-indexer: true

global:
  connectors:
    includeInitialJobs: false
    includeCronJobs: true
  openfaas:
    # -- turn on / off openfaas
    # All openfaas dependents should check this field to decide deployment logic (`tags` unfortunately not available to ).
    # They choose to simply not deploy or prompt an error message via [helm required function](https://helm.sh/docs/howto/charts_tips_and_tricks/#know-your-template-functions)
    enabled: true 
    namespacePrefix: ""
    # -- Default namespace for functions
    functionNamespace: openfaas-fn  
    # -- Default namespace for gateway and other core modules
    mainNamespace: openfaas 
    secrets:
      authSecrets: true

  # -- Search engine configuration, only used for semantic indexer.
  searchEngine:
    semanticIndexer:
      indexName: "semantic-index"
      # -- System wide agreed version.
      indexVersion: 1
      numberOfShards: 1
      numberOfReplicas: 0
      knnVectorFieldConfig:
        # -- Vector workload mode: `on_disk` or `in_memory`.
        mode: "on_disk"
        # -- Dimension of the embedding vectors.
        dimension: 768
        # -- The compression_level mapping parameter selects a quantization encoder that reduces vector memory consumption by the given factor.
        compressionLevel: 32x
        # Supported values: l1, l2, innerProduct, cosine, linf
        spaceType: "l2"
        # -- Similar to efSearch but used during index construction. Higher values improve search quality but increase index build time.
        efConstruction: 100
        # -- The size of the candidate queue during search. Larger values may improve search quality but increase search latency.
        efSearch: 100
        # -- The maximum number of graph edges per vector. Higher values increase memory usage but may improve search quality.
        m: 16
        
        # -- FAISS Encoder configuration (If compressionLevel is set, encoder will be ignored).
        encoder: null
          # name: "sq"
          # type: "fp16"
          # clip: false
    defaultDatasetBucket: "magda-datasets"
    
openfaas:
  operator: 
    create: true
  serviceType: ClusterIP
  basic_auth: false
  ingress:
    enabled: false
  faasnetes:
    readTimeout: 120s
    writeTimeout: 120s
    imagePullPolicy: IfNotPresent
  gateway:
    scaleFromZero: true
    readTimeout: 125s
    writeTimeout: 125s
    upstreamTimeout: 120s
  faasIdler:
    dryRun: false

ckan-connector-functions:
  includeInitialJobs: false
  includeCronJobs: false
  createFunction: true
  createConfigMap: false