apiVersion: v2
description: A Helm chart for Kubernetes
name: registry-db
version: 6.0.0-alpha.8
kubeVersion: ">= 1.21.0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "6.0.0-alpha.8"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.registry-db
