apiVersion: v2
description: A Helm chart for Kubernetes
name: registry-db
version: 1.0.0-alpha.5
kubeVersion: ">= 1.14.0-0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "1.0.0-alpha.5"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.registry-db
