apiVersion: v2
description: A Helm chart for Kubernetes
name: registry-db
version: 3.0.3
kubeVersion: ">= 1.21.0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "3.0.3"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.registry-db
