apiVersion: v2
description: A Helm chart for Kubernetes
name: registry-db
version: 5.5.0-alpha.1
kubeVersion: ">= 1.21.0"
annotations:
  magdaModuleType: "core"
dependencies:
  - name: magda-postgres
    version: "5.5.0-alpha.1"
    repository: "file://../magda-postgres"
    condition: global.useInK8sDbInstance.registry-db
