.jurisdiction-map-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3);
}
.jurisdiction-map{
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    left: 10vw;
    right: 10vw;
    box-shadow: 0px 0px 20px #000;
    background: #fff;
}

.map-in-popup{
    width: 100%;
    height: calc(100% - 50px);
}
