.jurisdiction-map{
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    z-index: 999;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    left: 10vw;
    right: 10vw;
    max-width: 100%;
    box-shadow: 0px 0px 20px #DAE7EF;
    background: #DAE7EF;
}

.map-in-popup{
    width: 100%;
    height: calc(100% - 50px);
}
